- @page_title = t('.title')

.page__actions
  = link_to t('.new'), new_admin_genus_path, role: 'button', class: 'creative'

- if @genera.count.zero?
  .alert.alert--empty= t('.no_content')
- else
  %table
    %caption.sr-only= t('.table_caption')
    %thead
      %tr
        %th{ scope: 'col' }= t('activerecord.attributes.genus.name')
        %th{ scope: 'col' }= t('activerecord.attributes.genus.kingdom')
        %th{ scope: 'col' }

    %tbody
      - @genera.each do |genus|
        %tr
          %td= link_to genus.name, admin_genus_path(genus)
          %td= genus.kingdom
          %td.actions
            = link_to t('generic.edit'), edit_admin_genus_path(genus), role: 'button'
            = link_to t('generic.destroy'),
                      admin_genus_path(genus),
                      method: :delete,
                      data: { confirm: t('generic.are_you_sure') },
                      role: 'button',
                      class: 'destructive'
