- @page_title = t('.title', name: @genus.name)

.page__actions
  = link_to t('generic.back'), admin_genera_path, role: 'button'

  - if policy([:admin, @genus]).edit?
    = link_to t('generic.edit'), edit_admin_genus_path(@genus), role: 'button'
  - if policy([:admin, @genus]).destroy?
    = link_to t('generic.destroy'),
              admin_genus_path,
              method: :delete,
              data: { confirm: t('generic.are_you_sure') },
              role: 'button',
              class: 'destructive'
.page--show
  %aside.page__panel
    %section
      %dl
        %dt= t('generic.definition', value: t('activerecord.attributes.genus.name'))
        %dd= @genus.name
        %dt= t('generic.definition', value: t('activerecord.attributes.genus.source'))
        %dd= @genus.source

        %dt= t('generic.definition', value: t('activerecord.attributes.genus.kingdom'))
        %dd= @genus.kingdom

  .page__content
    %h2= t('activerecord.attributes.genus.description')
    #markdown
      #markdown-source= @genus.description

:javascript
  renderMD(document.getElementById('markdown'), document.getElementById('markdown-source'))
