<template>
  <modal :title="resource.name" @cancel="$emit('close')" @validate="$emit('close')">
    <resource-description-area :resource="resource" :show-title="false" />
  </modal>
</template>
<script>
import Modal from '../../../../common/Modal'
import ResourceDescriptionArea from './_DescriptionArea'

export default {
  name: 'ResourceDescriptionModal',
  components: { ResourceDescriptionArea, Modal },
  props: {
    resource: { required: true, type: Object },
  },
}
</script>
