<template>
  <div>
    <h1 v-if="showTitle">{{ resource.name }}</h1>
    <div class="page__actions">
      <button @click="EventBus.$emit('edit-resource', resource)">{{ $t('generic.edit') }}</button>
    </div>
    <div class="grid--2">
      <dl>
        <dt>{{ $t('activerecord.attributes.genus.kingdom') }}</dt>
        <dd>{{ genus.kingdom }}</dd>

        <dt>{{ $t('activerecord.attributes.resource.genus') }}</dt>
        <dd>{{ genus.name }} <button type="button" class="button--icon button--text" @click="showGenus = true"><icon name="info text--info" /></button></dd>

        <dt>{{ $t('activerecord.attributes.resource.common_names') }}</dt>
        <dd>{{ resource.commonNames.join(', ') || '-' }}</dd>

        <dt>{{ $t('activerecord.attributes.resource.edible') }}</dt>
        <dd>{{ resource.edible ? $t('generic.yes') : $t('generic.no') }}</dd>

        <template v-if="resource.parentId">
          <dt>{{ $t('js.resources.description_area.group') }}</dt>
          <dd>
            <router-link :to="{params: {resourceId: resource.parentId}}">{{ resource.getParent().name }}</router-link>
          </dd>
        </template>
        <template v-if="children.length > 0">
          <dt>{{ $t('js.resources.description_area.children') }}</dt>
          <dd>
            <div v-for="child in children" :key="child.id">
              <template v-if="showLinks">
                <router-link :to="{name: 'library', params: {resourceId: child.id}}">{{ child.name }}</router-link>
              </template>
              <template v-else>
                {{ child.name }}
              </template>
            </div>
          </dd>
        </template>
      </dl>
      <div>
        <h2>{{ $t('js.resources.description_area.likes') }}</h2>
        <em v-if="likes.length === 0">{{ $t('js.resources.description_area.no_known_resource') }}</em>
        <ul v-else>
          <li v-for="resourceInteraction in likes" :key="resourceInteraction.id">{{ resourceInteraction.getOtherResource(resource.id).name }}</li>
        </ul>

        <h2>{{ $t('js.resources.description_area.dislikes') }}</h2>
        <em v-if="dislikes.length === 0">{{ $t('js.resources.description_area.no_known_resource') }}</em>
        <ul v-else>
          <li v-for="resourceInteraction in dislikes" :key="resourceInteraction.id">{{ resourceInteraction.getOtherResource(resource.id).name }}</li>
        </ul>
      </div>
    </div>
    <hr>
    <MarkdownRenderer :content="resource.description" />

    <p v-if="resource.source">
      {{ $t('generic.definition', { value: $t('js.resources.description_area.source') }) }}
      <a :href="resource.source" rel="noopener noreferrer">{{ resource.source }}</a>
    </p>

    <modal v-if="showGenus"
           :title="genus.name"
           :cancellable="false"
           @validate="showGenus=false"
           @cancel="showGenus=false">
      <div class="page__actions">
        <button @click="EventBus.$emit('edit-genus', genus)">{{ $t('generic.edit') }}</button>
      </div>
      <markdown-renderer :content="genus.description" />

      <p v-if="genus.source">
        {{ $t('generic.definition', { value: $t('js.resources.description_area.source') }) }}
        <a :href="genus.source" rel="noopener noreferrer">{{ genus.source }}</a>
      </p>
    </modal>
  </div>
</template>

<script>
import MarkdownRenderer from '../../../../common/MarkdownRenderer'
import Modal from '../../../../common/Modal'
import EventBus from '../../../../tools/event-bus'
import Icon from '../../../../common/Icon'

export default {
  name: 'ResourceDescriptionArea',
  components: { Icon, Modal, MarkdownRenderer },
  props: {
    resource: { required: true, type: Object },
    showTitle: { required: false, type: Boolean, default: true },
    showLinks: { required: false, type: Boolean, default: false },
  },
  data () {
    return {
      showGenus: false,
      EventBus,
    }
  },
  computed: {
    genus () { return this.$store.getters.genus(this.$props.resource.genusId) },
    likes () { return this.$store.getters.likesInteractionsByResource(this.$props.resource.id) },
    dislikes () { return this.$store.getters.dislikesInteractionsByResource(this.$props.resource.id) },
    children () { return this.$props.resource.getChildren() },
  },
}
</script>
