<template>
  <form action="#" class="form" @submit.prevent="save">
    <form-errors :errors="errors" model="resource" />

    <div class="alert alert--info">{{ $t('js.resources.form.community_alert') }}</div>
    <div class="field">
      <label for="resource_name">{{ $t('activerecord.attributes.resource.name') }}</label>
      <input id="resource_name"
             v-model="inputs.name"
             type="text"
             name="name"
             required>
    </div>

    <div class="field">
      <label for="resource_parent">{{ $t('activerecord.attributes.resource.parent') }}</label>
      <select id="resource_parent" v-model="inputs.parentId" name="parent" @change="prefill">
        <option v-for="parent in resources" :key="parent.id" :value="parent.id">{{ parent.name }}</option>
      </select>
      <div class="field__help">{{ $t('js.resources.form.parent_help') }}</div>
    </div>

    <div class="field">
      <label for="resource_common_names">{{ $t('activerecord.attributes.resource.common_names') }}</label>
      <input id="resource_common_names" v-model="inputs.commonNames" type="text" name="common_names">
    </div>

    <div class="field">
      <label for="resource_genus">{{ $t('activerecord.attributes.resource.genus') }}</label>
      <select id="resource_genus" v-model="inputs.genusId" name="genus" required>
        <option v-for="genus in genera" :key="genus.id" :value="genus.id">{{ genus.name }}</option>
      </select>
    </div>

    <div class="field">
      <label>
        <input v-model="inputs.edible" type="checkbox" name="edible">
        {{ $t('activerecord.attributes.resource.edible') }}
      </label>
      <div class="field__help">{{ $t('js.resources.form.edible_help') }}</div>
    </div>

    <div class="field">
      <label for="resource_description">{{ $t('activerecord.attributes.resource.description') }}</label>
      <textarea id="resource_description"
                v-model="inputs.description"
                name="description"
                class="textarea--large"
                required />
    </div>

    <div class="field">
      <label for="resource_source">{{ $t('activerecord.attributes.resource.source') }}</label>
      <input id="resource_source" v-model="inputs.source" type="text" name="source">
      <div class="field__help">{{ $t('js.resources.form.source_help') }}</div>
    </div>

    <div class="form__actions">
      <button type="reset" :disabled="loading" @click="$emit('cancel')">{{ $t('generic.cancel') }}</button>
      <submit-button :loading="loading" />
    </div>
  </form>
</template>
<script>
import FormErrors from '../../../../common/FormErrors'
import SubmitButton from '../../../../common/inputs/SubmitButton'
import Resource from '../../../../classes/models/Resource'
import Toaster from '../../../../helpers/toaster'

export default {
  name: 'ResourceForm',
  components: { SubmitButton, FormErrors },
  props: {
    resource: { required: false, type: Resource, default: null },
  },
  data () {
    return {
      inputs: { ...this.fillInputs() },
      errors: null,
      loading: false,
    }
  },
  computed: {
    layers () { return this.$store.getters.layers },
    genera () { return this.$store.getters.genera },
    resources () { return this.$store.getters.resources },
  },
  methods: {
    fillInputs () {
      const inputs = {
        id: null,
        name: '',
        description: '',
        edible: false,
        parentId: null,
        layerId: null,
        genusId: null,
        commonNames: '',
        source: '',
        ...this.$props.resource,
      }

      if (Array.isArray(inputs.commonNames)) inputs.commonNames = inputs.commonNames.join(', ')

      return inputs
    },
    save () {
      const payload = {
        id: this.inputs.id,
        name: this.inputs.name,
        description: this.inputs.description,
        edible: this.inputs.edible,
        parent_id: this.inputs.parentId,
        layer_id: this.inputs.layerId,
        genus_id: this.inputs.genusId,
        common_names: this.inputs.commonNames
          .split(',')
          .map(n => n.trim())
          .filter(n => n.length > 0),
        source: this.inputs.source,
      }
      if (!payload.id) { delete payload.id }

      this.loading = true
      this.errors = null
      this.$store.dispatch('saveResource', payload)
        .then(() => {
          Toaster.success(this.$t('js.generic.successfully_saved'))
          this.$emit('saved')
        })
        .catch((errors) => {
          Toaster.error(this.$t('js.generic.failed_to_save'))
          this.errors = errors
        })
        .then(() => { this.loading = false })
    },
    prefill () {
      if (!this.inputs.parentId) return

      const parent = this.$store.getters.resource(this.inputs.parentId)
      this.inputs.genusId = parent.genusId
      this.inputs.layerId = parent.layerId
    },
  },
  watch: {
    resource () {
      this.inputs = this.fillInputs()
    },
  },
}
</script>
