<template>
  <div class="resource-picker">
    <form action="#" class="resource-picker__search" @submit.prevent="()=>{}">
      <label for="picker-search">{{ $t('js.resources.picker.search') }}</label>
      <input id="picker-search"
             ref="searchField"
             v-model="search"
             type="text"
             :placeholder="$t('js.resources.picker.enter_name')">
    </form>
    <div v-bar class="resource-picker__results">
      <!-- v-bar wrapper -->
      <div>
        <div v-for="resource in resources" :key="resource.id">
          <button class="item clickable"
                  @click="$emit('select', resource)">
            {{ resource.name }}
            <small class="text--secondary">{{ resource.commonNames.join(', ') }}</small>
          </button>
          <button v-for="child in resource.getChildren()"
                  :key="child.id"
                  class="item clickable mld"
                  @click="$emit('select', child)">
            {{ child.name }}
            <small class="text--secondary">{{ child.commonNames.join(', ') }}</small>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ResourcesPicker',
  data () {
    return {
      selected: null,
      search: '',
    }
  },
  computed: {
    resources () { return this.$store.getters.searchedResources(this.search) },
  },
  created () {
    this.$nextTick(() => { this.$refs.searchField.focus() })
  },
}
</script>
