- url = resource_interaction.id ? admin_resource_interaction_path : admin_resource_interactions_path
= form_for resource_interaction, url: url, html: { class: 'form' } do |f|
  - if resource_interaction.errors.any?
    .alert.alert--alert
      %p= t('.errors', count: resource_interaction.errors.count)
      %ul
        - resource_interaction.errors.full_messages.each do |message|
          %li= message

  .grid.grid--3
    %div
      .field
        = f.label :subject_id, t('activerecord.attributes.resource_interaction.subject')
        = f.collection_select :subject_id, Resource.all.order(:name), :id, :name, prompt: true, required: true
    %div
      .field
        = f.label :nature
        = f.select :nature, ResourceInteraction.natures.keys, prompt: true, html: { required: true }
    %div
      .field
        = f.label :target_id, t('activerecord.attributes.resource_interaction.target')
        = f.collection_select :target_id, Resource.all.order(:name), :id, :name, prompt: true, html: { required: true }
  .field
    = f.label :notes
    = f.text_field :notes

  .form__actions
    = f.submit t('generic.save'), class: 'recorder'
