- @page_title = t('.title')

.page__actions
  = link_to t('generic.back'), :admin_resource_interactions, role: 'button'
  = link_to t('generic.show'), @admin_resource_interaction, role: 'button'
  = link_to t('generic.destroy'),
            @admin_resource_interaction,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button'

= render 'form', resource_interaction: @resource_interaction
