%p
  Once the jars have settled enough, different strata should appear. From the
  bottom to the top:
  = link_to 'Sand', 'https://en.wikipedia.org/wiki/Sand', rel: 'noopener noreferrer'
  ,
  = link_to 'Silt', 'https://en.wikipedia.org/wiki/Silt', rel: 'noopener noreferrer'
  et
  = link_to 'Clay', 'https://en.wikipedia.org/wiki/Clay', rel: 'noopener noreferrer'

%p
  To read the results:

  %ol
    %li Measure the different strata
    %li Fill the form
    %li Read the area targeted on the picture

%p
  You now have the soil composition; search for something to plant!

%p.alert.alert--info
  Note: some soils only have a few (or none) of some of the elements.
