%p
  Une fois les bocaux décantés, devraient apparaître des strates différentes. Du
  bas vers le haut :
  = link_to 'Sable', 'https://fr.wikipedia.org/wiki/Sable', rel: 'noopener noreferrer'
  ,
  = link_to 'Limon', 'https://fr.wikipedia.org/wiki/Limon_(roche)', rel: 'noopener noreferrer'
  et
  = link_to 'Argile', 'https://fr.wikipedia.org/wiki/Argile', rel: 'noopener noreferrer'

%p
  Pour lire ces résultats :

  %ol
    %li Mesurez les différentes couches
    %li Reportez-les dans le formulaire
    %li Relevez la zone ciblée sur l'image.

%p
  Vous avez votre type de sol, trouvez ce que vous pouvez plantrer dessus !

%p.alert.alert--info
  Note: certaines terres ne contiennent que très peu ou pas du tout de certains
  des éléments précédents.
