%p
  An easy method to know your soil composition consist in making one or more
  samples of soil (depending on the size of the garden).

%p
  For every place:

  %ol
    %li Take a soil sample
    %li Place it in a transparent jar with water (50%/50% is good)
    %li Mix it to separate the different elements
    %li Leave it to settle for a few days (when water is clear, it's good!)
    %li Read the results
