%p
  Une méthode simple pour connaitre le <em>type</em> de votre terre, consiste à
  faire un ou plusieur prélèvements (suivant la taille du jardin).

%p
  Pour chaque endroit :

  %ol
    %li Prélevez de la terre
    %li Placez-la dans un bocal avec beaucoup d'eau (le même volume est bien)
    %li Mélangez bien la mixture, que les éléments se séparent les un des autres
    %li Laissez décanter quelques jours (quand l'eau n'est plus trouble, c'est bon !)
    %li Lisez les résultats.
