- @page_title = t('.title')

.grid--1-2
  %div
    %h2= t('.setup')
    = render 'soil_analysis_setup'

    %h2= t('.reading_results')
    = render 'soil_analysis_read_results'

  #app

= javascript_pack_tag 'vue-soil-analysis'
