<template>
  <div class="garden__content">
    <div class="garden__content__map_view">
      <div class="toolbars">
        <div class="toolbar">
          <span class="toolbar__text">{{ $t('js.layouts.garden.toolbar.review') }}</span>
          <button class="button--icon" :class="{active: mode === 'review'}" :title="$t('js.layouts.garden.side_panel.button_pointer_mode')" @click="changeMode('review')"><icon name="cursor" /></button>
        </div>
        <div class="toolbar">
          <span class="toolbar__text">{{ $t('js.layouts.garden.toolbar.add') }}</span>
          <button class="button--icon" :class="{active: mode === 'add' && modeTool === 'Point'}" :title="$t('js.layouts.garden.side_panel.button_draw_point')" @click="changeMode('add', 'Point')"><icon name="point-plus" /></button>
          <button class="button--icon" :class="{active: mode === 'add' && modeTool === 'Polygon'}" :title="$t('js.layouts.garden.side_panel.button_draw_polygon')" @click="changeMode('add', 'Polygon')"><icon name="polygon-plus" /></button>
          <button class="button--icon" :class="{active: mode === 'add' && modeTool === 'Circle'}" :title="$t('js.layouts.garden.side_panel.button_draw_circle')" @click="changeMode('add', 'Circle')"><icon name="circle-plus" /></button>
        </div>
        <div class="toolbar">
          <span class="toolbar__text">{{ $t('js.layouts.garden.toolbar.draw') }}</span>
          <button class="button--icon" :class="{active: mode === 'draw' && modeTool === 'LineString'}" :title="$t('js.layouts.garden.side_panel.button_draw_line')" @click="changeMode('draw', 'LineString')"><icon name="multiline-plus" /></button>
          <button class="button--icon" :class="{active: mode === 'draw' && modeTool === 'Polygon'}" :title="$t('js.layouts.garden.side_panel.button_draw_polygon')" @click="changeMode('draw', 'Polygon')"><icon name="polygon-plus" /></button>
          <button class="button--icon" :class="{active: mode === 'draw' && modeTool === 'Circle'}" :title="$t('js.layouts.garden.side_panel.button_draw_circle')" @click="changeMode('draw', 'Circle')"><icon name="circle-plus" /></button>
        </div>
      </div>
      <div id="map" class="map" />

      <garden-layers :visible-layers="activeLayers"
                     :active-layer="activeLayer"
                     @activate="handleLayerActivation"
                     @toggle="handleLayerVisibilityToggle" />
    </div>

    <garden-resource-selector-panel v-show="isAddingMode"
                                    :selected-resource-id="resource"
                                    @resource-change="handleResourceChange" />

    <garden-path-selector-panel v-show="isDrawingMode"
                                v-model="pathName"
                                :path-style="pathStyle"
                                class="garden__content__side_panel"
                                @style-change="handleStyleChange" />

    <div v-show="pointedEntity" id="garden-popup" class="popup__wrapper">
      <garden-patch-popup v-if="pointedEntityType === 'patch'"
                          :patch="pointedEntity"
                          @edit-patch="handlePatchEdition"
                          @trash-patch="trashPatch"
                          @add-patch-resource="handleResourceAddition"
                          @show-activities="handleActivitiesDisplay"
                          @rotate-patch="handlePatchRotation"
                          @move-patch="handlePatchTranslation"
                          @transform-patch="handlePatchTransformation"
                          @close="pointedEntity = null" />
      <garden-path-popup v-if="pointedEntityType === 'path'"
                         :path="pointedEntity"
                         @edit-path="handlePathEdition"
                         @rotate-path="handlePathRotation"
                         @move-path="handlePathTranslation"
                         @transform-path="handlePathTransformation"
                         @trash-path="trashPath"
                         @close="pointedEntity = null" />
    </div>

    <modal v-if="editingPatch"
           :title="$t('js.patches.index.editing_patch')"
           :has-footer="false"
           @cancel="editingPatch = null">
      <patches-form :patch="editingPatch" @cancel="editingPatch = null" @saved="editingPatch = null" />
    </modal>

    <modal v-if="editingPath"
           :title="$t('js.paths.index.editing_path')"
           :has-footer="false"
           @cancel="editingPath = null">
      <paths-form :path="editingPath"
                  @cancel="editingPath = null"
                  @saved="handleSavedPath" />
    </modal>

    <modal v-if="addingPatchResource"
           :title="$t('js.patches.index.resource_selection')"
           :has-footer="true"
           :cancellable="true"
           :validatable="false"
           @cancel="addingPatchResource = null">
      <resources-picker @select="addSelectedResource" />
    </modal>

    <modal v-if="showingActivities"
           :title="showingActivities.getName()"
           :cancellable="false"
           @validate="showingActivities = null"
           @cancel="showingActivities = null">
      <activities-list :element="showingActivities" />
    </modal>
  </div>
</template>

<script>
import EventBus from '../../../tools/event-bus'
import GardenMap from '../../../classes/GardenMap'
import GardenResourceSelectorPanel from './Layouts/Garden/_ResourceSelectorPanel'
import GardenPathSelectorPanel from './Layouts/Garden/_PathSelectorPanel'
import ResourcesPicker from './Resources/_Picker'
import ActivitiesList from './Activities/_ActivitiesList'
import PatchesForm from './Patches/_Form'
import PathsForm from './Paths/_Form'
import Modal from '../../../common/Modal'
import GardenLayers from './Layouts/Garden/_Layers'
import Toaster from '../../../helpers/toaster'
import Icon from '../../../common/Icon'
// Not used directly, but passed to the GardenMap
import GardenPatchPopup from './Layouts/Garden/_PatchPopup'
import GardenPathPopup from './Layouts/Garden/_PathPopup'

/**
 * @typedef {import('../../../classes/models/Patch')} Patch
 * @typedef {import('../../../classes/models/Path')}  Path
 * @typedef {import('../../../classes/models/Layer')} Layer
 */

export default {
  name: 'Garden',
  components: { Icon, GardenLayers, GardenPathSelectorPanel, ActivitiesList, ResourcesPicker, PatchesForm, PathsForm, Modal, GardenPatchPopup, GardenPathPopup, GardenResourceSelectorPanel },
  data () {
    return {
      /** @type {string} Current mode */
      mode: 'review',
      /** @type {string|null} Current tool, for 'add' and 'draw' modes */
      modeTool: null,
      /** @type {object|null} Selected resource in drawing mode */
      resource: null,
      /** @type {GardenMap} Map instance */
      gardenMap: null,
      /** @type {number[]} List of active layers */
      activeLayers: this.$store.getters.layers.map(l => l.id),
      /** @type {Layer|null} Active layer */
      activeLayer: null,
      /** @type {Patch|Path} Active entity in review mode */
      pointedEntity: null,
      /** @type {string|null} Active entity type in review mode */
      pointedEntityType: null,
      /** @type {number|null} Patch identifier when adding resource in review mode */
      addingPatchResource: null,
      /** @type {Patch|null} Patch to edit from review mode */
      editingPatch: null,
      /** @type {Path|null} Path to edit from review mode */
      editingPath: null,
      /** @type {Element|null} Element to display */
      showingActivities: null,
      /** @type {{strokeColor: string, backgroundColor: string, strokeWidth: number, strokeStylePreset: string|null}} Path style for path drawings */
      pathStyle: { strokeColor: '0,0,0,1', backgroundColor: '0,0,0,0.1', strokeWidth: 1, strokeStylePreset: null },
      /** @type {string|null} Path name for path creation */
      pathName: null,
    }
  },
  computed: {
    layers () { return this.$store.getters.layers },
    isAddingMode () { return this.mode === 'add' },
    isDrawingMode () { return this.mode === 'draw' },
  },
  methods: {
    handlePathRotation (path) {
      this.gardenMap.rotateElement(path, this.handleUpdatePath)
    },
    handlePatchRotation (patch) {
      this.gardenMap.rotateElement(patch, this.handleUpdatePatch)
    },
    handlePatchTranslation (patch) {
      this.gardenMap.translateElement(patch, this.handleUpdatePatch)
    },
    handlePathTranslation (path) {
      this.gardenMap.translateElement(path, this.handleUpdatePath)
    },
    handlePathTransformation (path) {
      this.gardenMap.transformElement(path, this.handleUpdatePath)
    },
    handlePatchTransformation (patch) {
      this.gardenMap.transformElement(patch, this.handleUpdatePatch)
    },

    handleLayerVisibilityToggle (id) {
      const index = this.activeLayers.indexOf(id)
      if (index === -1) {
        this.activeLayers.push(id)
      } else {
        this.activeLayers.splice(index, 1)
      }

      this.gardenMap.setVisibleLayers(this.activeLayers)
    },
    handleLayerActivation (layer) {
      this.activeLayer = layer
      // Reset add mode
      if (this.mode === 'add') this.setAddMode()
    },
    setAddMode () {
      if (!this.resource || !this.activeLayer) return

      const resource = this.$store.getters.resource(this.resource)
      if (!resource) throw new Error(`Resource not found with id ${this.resource}`)

      this.gardenMap.drawPatch(this.modeTool, resource, this.activeLayer)
    },
    setDrawMode () {
      this.gardenMap.drawPath(this.modeTool, this.pathStyle, this.activeLayer)
    },
    changeMode (mode, tool = null) {
      this.mode = mode
      this.modeTool = tool
      switch (mode) {
        case 'review':
          this.gardenMap.review()
          break
        case 'draw':
          this.setDrawMode()
          break
        default:
          this.setAddMode()
      }
    },
    handleResourceChange (resource) {
      this.resource = resource
      this.setAddMode()
    },
    handleStyleChange (style) {
      this.pathStyle = style
      if (this.mode === 'draw') this.changeMode(this.mode, this.modeTool)
    },
    handleAddPatch (event) {
      const payload = {
        map_id: parseInt(this.$route.params.mapId, 10),
        geometry: event.detail.geoJSON,
        elements: [{ resource_id: event.detail.resourceId }],
        layer_id: this.activeLayer.id,
      }
      this.$store.dispatch('createPatch', { payload: { patch: payload }, feature: event.detail.feature })
        .then(() => { Toaster.success(this.$t('js.patch.successfully_created')) })
        .catch(() => { Toaster.error(this.$t('js.patch.failed_to_create')) })
    },
    handleUpdatePatch (event) {
      const payload = {
        id: event.detail.id,
        geometry: event.detail.geoJSON,
      }
      this.$store.dispatch('updatePatch', payload)
        // No need to update anything else for now.
        .then(() => { Toaster.success(this.$t('js.patch.successfully_updated')) })
        .catch(() => { Toaster.error(this.$t('js.patch.failed_to_update')) })
    },
    handlePointEntity (event) {
      if (!event.detail) {
        this.pointedEntity = null
        this.pointedEntityType = null
        return
      }
      const type = event.detail.type
      const id = event.detail.id
      this.pointedEntityType = type
      this.pointedEntity = id ? this.$store.getters[type](id) : null
    },
    handleAddPath (event) {
      const payload = {
        name: this.pathName,
        stroke_width: event.detail.strokeWidth,
        stroke_color: event.detail.strokeColor,
        stroke_style_preset: event.detail.strokeStylePreset,
        background_color: event.detail.backgroundColor,
        geometry: event.detail.geoJSON,
        layer_id: this.activeLayer.id,
        map_id: parseInt(this.$route.params.mapId, 10),
      }
      this.$store.dispatch('createPath', { payload: { path: payload }, feature: event.detail.feature })
        .then(() => {
          this.pathName = null
          Toaster.success(this.$t('js.path.successfully_created'))
        })
        .catch(() => { Toaster.error(this.$t('js.path.failed_to_create')) })
    },
    handleUpdatePath (event) {
      const payload = {
        id: event.detail.id,
        geometry: event.detail.geoJSON,
      }
      this.$store.dispatch('updatePath', payload)
        // No need to update anything else for now.
        .then(() => { Toaster.success(this.$t('js.path.successfully_updated')) })
        .catch(() => { Toaster.error(this.$t('js.path.failed_to_update')) })
    },
    handleSavedPath (path) {
      this.gardenMap.redrawEntity(path)
      this.editingPath = null
    },
    createMap () {
      // Everything has been loaded in _Layout.vue
      this.$nextTick(() => {
        const mapId = parseInt(this.$route.params.mapId, 10)
        const mapConfig = this.$store.getters.map(mapId)
        this.gardenMap = new GardenMap(mapConfig, 'garden-popup', 'map')

        this.gardenMap.mapElement.addEventListener('point-entity', this.handlePointEntity)
        this.gardenMap.mapElement.addEventListener('add-patch', this.handleAddPatch)
        this.gardenMap.mapElement.addEventListener('update-patch', this.handleUpdatePatch)
        this.gardenMap.mapElement.addEventListener('add-path', this.handleAddPath)
        this.gardenMap.mapElement.addEventListener('update-path', this.handleUpdatePath)

        this.changeMode(this.mode)

        EventBus.$on('layer-created', (layer) => {
          this.gardenMap.addLayer(layer)
          this.handleLayerVisibilityToggle(layer.id)
          // Select the new layer if wanted
          if (layer.visibleByDefault) this.activeLayer = layer
        })
        EventBus.$on('destroy-layer', (layer) => {
          const patches = layer.getPatches()
          if (patches.length > 0) {
            EventBus.$emit('ask-confirmation', {
              title: this.$t('js.generic.impossible_action'),
              cancellable: false,
              message: this.$t('js.layers.patches_remaining', { count: patches.length }),
            })
            return
          }
          EventBus.$emit('ask-confirmation', {
            message: this.$t('js.generic.messages.destroy_warning'),
            callback: () => {
              this.gardenMap.removeLayer(layer)
              this.$store.dispatch('destroyLayer', layer.id)
                .then(() => {
                  // Select another layer if needed
                  if (layer.id === this.activeLayer.id) this.activeLayer = this.layers[0]
                  Toaster.success(this.$t('js.layers.successfully_destroyed'))
                })
                .catch(() => { Toaster.error(this.$t('js.layers.failed_to_destroy')) })
            },
          })
        })
      })
    },
    destroyMap () {
      if (!this.gardenMap) return

      this.gardenMap.destroy()
      this.gardenMap = null
    },
    handlePatchEdition (patch) {
      this.editingPatch = patch
    },
    handleResourceAddition (patchId) {
      this.addingPatchResource = patchId
    },
    trashPatch (patchId) {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history'),
        callback: () => {
          this.gardenMap.removeEntityFeature(this.$store.getters.patch(patchId))
          this.$store.dispatch('destroyPatch', patchId)
            .then(() => { Toaster.success(this.$t('js.patch.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.patch.failed_to_destroy')) })
          this.pointedEntity = null
        },
      })
    },
    handlePathEdition (path) { this.editingPath = path },
    trashPath (pathId) {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('generic.are_you_sure'),
        callback: () => {
          this.gardenMap.removeEntityFeature(this.$store.getters.path(pathId))
          this.$store.dispatch('destroyPath', pathId)
            .then(() => { Toaster.success(this.$t('js.path.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.path.failed_to_destroy')) })
          this.pointedEntity = null
        },
      })
    },
    addSelectedResource (resource) {
      const payload = { resource_id: resource.id, patch_id: this.addingPatchResource }
      const patch = this.$store.getters.patch(this.addingPatchResource)
      this.$store.dispatch('createElement', payload)
        .then(() => {
          this.gardenMap.redrawEntity(patch)
          this.addingPatchResource = null
        })
    },
    handleActivitiesDisplay (element) { this.showingActivities = element },
  },
  created () {
    this.createMap()
    EventBus.$on('change-patch-layer', ({ patch, fromPatchId }) => {
      const layer = this.$store.getters.layer(fromPatchId)
      // Move to new layer
      this.gardenMap.moveEntityToOtherLayer(layer, patch)
    })
    EventBus.$on('change-path-layer', ({ path, fromPathId }) => {
      const layer = this.$store.getters.layer(fromPathId)
      // Move to new layer
      this.gardenMap.moveEntityToOtherLayer(layer, path)
    })
    EventBus.$on('destroyed-element', (patch) => { this.gardenMap.redrawEntity(patch) })
  },
  beforeDestroy () {
    this.destroyMap()
  },
}
</script>
