<template>
  <div class="library">
    <div class="library__toolbar">
      <div class="toolbar">
        <div class="button--icon toolbar__text"><icon name="funnel" /></div>
        <button :class="{active: order === 'name'}" @click="order = 'name'">
          {{ $t('activerecord.attributes.resource.name') }}
        </button>
        <button :class="{active: order === 'genera'}" @click="order = 'genera'">
          {{ $t('js.genera.index.genus') }}
        </button>
        <div class="separator" />
        <div class="button--icon toolbar__text"><icon name="users" /></div>
        <button class="creative" @click="EventBus.$emit('edit-genus')">{{ $t('js.genera.index.new_genus') }}</button>
        <button class="creative" @click="EventBus.$emit('edit-resource')">{{ $t('js.genera.index.new_resource') }}</button>
      </div>
    </div>
    <div class="library__sidebar">
      <div v-bar class="library__sidebar__list">
        <div>
          <div v-if="order === 'genera'">
            <div v-for="genus in genera" :key="genus.id">
              <div class="library__genus-title">
                <h3>{{ genus.name }}</h3>
                <div class="actions">
                  <button class="button--icon" :title="$t('generic.edit')" @click="EventBus.$emit('edit-genus', genus)">
                    <icon name="pencil" />
                  </button>
                </div>
              </div>
              <router-link v-for="resource in genus.getResources()"
                           :key="resource.id"
                           :class="{active: resource.id === selectedResourceId }"
                           class="item"
                           :to="{params: {resourceId: resource.id}}">
                <img :src="resource.getPicturePath()" alt="">
                <div>{{ resource.name }}</div>
              </router-link>
            </div>
          </div>

          <div v-if="order === 'name'">
            <router-link v-for="resource in resources"
                         :key="resource.id"
                         class="item"
                         :class="{active: resource.id === selectedResourceId }"
                         :to="{params: {resourceId: resource.id}}">
              <img :src="resource.getPicturePath()" alt="">
              <div>{{ resource.name }}</div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="library__content">
      <p v-if="!selectedResource">{{ $t('js.genera.index.no_selected_resource') }}</p>
      <div v-else>
        <resource-description-area :resource="selectedResource" :show-links="true" />
      </div>
    </div>
  </div>
</template>

<script>
import ResourceDescriptionArea from './Resources/_DescriptionArea'
import EventBus from '../../../tools/event-bus'
import Icon from '../../../common/Icon'

export default {
  name: 'Library',
  components: { Icon, ResourceDescriptionArea },
  data () {
    return {
      order: 'name',
      selectedResourceId: null,
      EventBus,
    }
  },
  computed: {
    layers () { return this.$store.getters.layers },
    resources () { return this.$store.getters.resources },
    genera () { return this.$store.getters.genera },
    selectedResource () { return this.$store.getters.resource(this.selectedResourceId) },
  },
  methods: {
    setSelectedResourceId () {
      const id = this.$route.params.resourceId
      this.selectedResourceId = id ? parseInt(id, 10) : null
    },
  },
  created () {
    this.setSelectedResourceId()
  },
  watch: {
    $route () {
      this.setSelectedResourceId()
    },
  },
}
</script>
