<template>
  <div class="page">
    <h1>Tâches</h1>
    <div v-if="loading">{{ $t('generic.loading') }}</div>
    <div v-else-if="Object.keys(activitiesByDay).length === 0" class="empty">
      <icon name="smiley" size="10" />
      {{ $t('js.todos.index.no_activities') }}
    </div>
    <section v-for="(data, day) in activitiesByDay" :key="day">
      <h2 :class="{'text--danger' : isOver(data.date), 'text--warning': isSameDay(data.date)}">{{ day }}</h2>
      <todo-activity v-for="activity in data.activities" :key="activity.id" :activity="activity" />
    </section>
  </div>
</template>

<script>
import TodoActivity from './Todos/_Activity'
import { isOver, isSameDay } from '../../../../helpers/Dates'
import Icon from '../../../common/Icon'

export default {
  name: 'Tasks',
  components: { Icon, TodoActivity },
  data () {
    return {
      loading: false,
      now: new Date(),
    }
  },
  computed: {
    activitiesByDay () {
      return this.$store.getters.pendingActivities
        // Group by day
        .reduce((result, activity) => {
          const date = this.$d(activity.plannedFor, 'date')
          if (!result[date]) result[date] = { date: activity.plannedFor, activities: [] }
          result[date].activities.push(activity)
          return result
        }, {})
    },
  },
  methods: {
    isSameDay (date) { return isSameDay(date, this.now) },
    isOver (date) { return isOver(date, this.now) },
  },
  created () {
    this.loading = true
    this.$store.dispatch('loadPendingActivities', this.$route.params.mapId)
      .then(() => { this.loading = false })
  },
}
</script>
