<template>
  <soil-analysis />
</template>

<script>
import SoilAnalysis from './components/SoilAnalysis'
export default {
  name: 'SoilAnalysisApplication',
  components: { SoilAnalysis },
}
</script>
