<template>
  <dropdown :caption="$t('js.color_preset.presets')" :wide="true">
    <ul>
      <li v-for="(preset, index) in colorPresets" :key="index" class="color_picker__preset" @click="select(preset)">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" class="checked_background">
          <g :stroke="`rgba(${preset.stroke})`"
             :style="preset.strokeStyle ? `stroke-dasharray:${strokeStylePresets[preset.strokeStyle].style(preset.width).join(',')}` : ''">
            <path d="M5 5h40v15H5z"
                  :fill="`rgba(${preset.fill})`"
                  :stroke-width="`${preset.width}px`" />
            <path d="M5 25h40"
                  :stroke-width="`${preset.width}px`" />
          </g>
        </svg>
        <div>{{ $t(preset.i18n) }}</div>
      </li>
    </ul>
  </dropdown>
</template>

<script>
import strokeStylePresets from '../../../../../strokeStylePresets'
import colorPresets from '../../../../../colorPresets'
import Dropdown from '../../../../../common/Dropdown'

export default {
  name: 'ColorPreset',
  components: { Dropdown },
  data () {
    return {
      strokeStylePresets,
      colorPresets,
    }
  },
  methods: {
    select (preset) { this.$emit('select', preset) },
  },
}
</script>
