<template>
  <dropdown :caption="$t('js.stroke_style_presets.line_style')" :wide="true">
    <template v-if="selected" #caption>
      <svg xmlns="http://www.w3.org/2000/svg"
           width="150"
           height="10"
           class="checked_background">
        <path d="M5 5h140"
              stroke="black"
              :stroke-width="`${width}px`"
              :style="`stroke-dasharray:${strokeStylePresets[selected].style(width).join(',')}`" />
      </svg>
    </template>
    <ul>
      <li class="clickable" @click="select(null)">{{ $t('js.stroke_style_presets.default') }}</li>
      <li v-for="(preset, key) in strokeStylePresets"
          :key="key"
          class="clickable"
          @click="select(key)">
        <div>{{ $t(preset.i18n) }}</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="10" class="checked_background">
          <path d="M5 5h140"
                stroke="black"
                :stroke-width="`${width}px`"
                :style="`stroke-dasharray:${preset.style(width).join(',')}`" />
        </svg>
      </li>
    </ul>
  </dropdown>
</template>

<script>
import strokeStylePresets from '../../../../../strokeStylePresets'
import Dropdown from '../../../../../common/Dropdown'

export default {
  name: 'StrokeStylePresets',
  components: { Dropdown },
  props: {
    width: { required: true, type: Number },
    selected: { required: false, type: String, default: null },
  },
  data () {
    return {
      strokeStylePresets,
    }
  },
  methods: {
    select (preset) { this.$emit('select', preset) },
  },
}
</script>
