button,
input[type="submit"],
input[type="reset"],
input[type="button"], {
  @extend %control-border;

  padding: $spacer-tiny $spacer-small;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font-size: $font-size-smaller;
  font-variant: small-caps;
  outline: none;
  text-decoration: none;

  &:active {
    box-shadow: inset 1px 1px 2px -1px rgba(0, 0, 0, 0.5);
  }

  &:disabled {
    background-image:
      linear-gradient(
        135deg,
        transparent,
        transparent 5px,
        var(--color-mute) 5px,
        var(--color-mute) 6px,
        transparent 6px,
        transparent 100%
      );
    background-size: 8px 8px;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.destructive {
    background-color: var(--state-danger);
    color: var(--state-danger-inverse);
  }

  &.text--destructive {
    @extend .text--destructive;
  }

  &.text--warning {
    @extend .text--warning;
  }

  &.creative {
    background-color: var(--state-suggestion);
    color: var(--state-suggestion-inverse);
  }

  &.text--creative {
    @extend .text--creative;
  }

  &.recorder {
    background-color: var(--state-ok);
    color: var(--state-ok-inverse);
  }

  &.text--recorder {
    @extend .text--recorder;
  }
}

.button {
  @extend button;

  &--text {
    padding-right: $spacer-tiny;
    padding-left: $spacer-tiny;
    border: none;
    color: unset;

    &:active {
      box-shadow: none;
    }
  }

  &--icon {
    display: inline-flex;
    align-items: center;
    gap: $spacer-tiny;

    > .icon,
    > img {
      flex: none;
      font-size: 1.2em;
    }

    > img {
      height: 1em;
    }
  }
}
