hr {
  width: 50%;
  height: 8px;
  border: none;
  margin: $spacer-default auto;
  background-image:
    linear-gradient(
      135deg,
      transparent,
      transparent 33.33%,
      currentColor 33.33%,
      currentColor 66.6%,
      transparent 66.6%,
      transparent 100%
    );
  background-size: 8px 8px;
  color: lightgray;
}
