table {
  border: none;
  margin: 0 auto;
  border-collapse: collapse;
}

tr {
  border-spacing: 0;

  &:hover {
    background-color: var(--element-background);
  }
}

td {
  padding: $spacer-tiny $spacer-default;
  border-bottom: 1px solid var(--border-color-lighter);
}
