h1 {
  margin-bottom: $spacer-default;
  font-weight: 200;

  &:not(:first-child) {
    margin-top: $spacer-default;
  }
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

p {
  &:not(:first-child) {
    margin-top: $spacer-default;
  }
}
