<template>
  <fieldset class="fieldset--noshadow">
    <legend v-if="label">{{ label }}</legend>
    <div class="color_picker">
      <label :for="`${inputId}-r`" class="label--inline">
        {{ $t('js.widgets.inputs.rgba_picker.r') }}
      </label>
      <input :id="`${inputId}-r`"
             v-model="inputs.r"
             type="range"
             min="0"
             max="255"
             step="1"
             :style="rColorStyle"
             @change="handleChange">

      <label :for="`${inputId}-g`" class="label--inline">
        {{ $t('js.widgets.inputs.rgba_picker.g') }}
      </label>
      <input :id="`${inputId}-g`"
             v-model="inputs.g"
             type="range"
             min="0"
             max="255"
             step="1"
             :style="gColorStyle"
             @change="handleChange">

      <label :for="`${inputId}-b`" class="label--inline">
        {{ $t('js.widgets.inputs.rgba_picker.b') }}
      </label>
      <input :id="`${inputId}-b`"
             v-model="inputs.b"
             type="range"
             min="0"
             max="255"
             step="1"
             :style="bColorStyle"
             @change="handleChange">

      <label :for="`${inputId}-a`" class="label--inline">
        {{ $t('js.widgets.inputs.rgba_picker.a') }}
      </label>
      <div class="color_picker__opacity_slider">
        <input :id="`${inputId}-a`"
               v-model="inputs.a"
               type="range"
               min="0"
               max="1"
               step="0.01"
               :style="aColorStyle"
               @change="handleChange">
      </div>
    </div>
  </fieldset>
</template>

<script>
import randomString from '../../../helpers/RandomString'

export default {
  name: 'RgbaPicker',
  props: {
    label: { required: false, type: String, default: null },
    value: { required: true, type: String },
  },
  data () {
    return {
      inputs: this.inputsFromValue(),
      inputId: randomString(),
    }
  },
  computed: {
    rColorStyle () { return `background-color: rgba(${this.inputs.r},0,0,1)` },
    gColorStyle () { return `background-color: rgba(0,${this.inputs.g},0,1)` },
    bColorStyle () { return `background-color: rgba(0,0,${this.inputs.b},1)` },
    aColorStyle () { return `background-color: rgba(${this.inputs.r},${this.inputs.g},${this.inputs.b},${this.inputs.a})` },
  },
  methods: {
    inputsFromValue () {
      const values = this.$props.value.split(',').map(v => v.trim())
      return { r: values[0], g: values[1], b: values[2], a: values[3] }
    },
    handleChange () {
      const value = `${this.inputs.r},${this.inputs.g},${this.inputs.b},${this.inputs.a}`
      this.$emit('input', value)
    },
  },
  watch: {
    value () {
      this.inputs = this.inputsFromValue()
    },
  },
}
</script>
