<template>
  <button type="submit" class="button--icon recorder" :disabled="loading">
    <icon :name="loading ? 'hourglass' : 'floppy-disk'" :spin="loading" />
    {{ title || $t('generic.save') }}
  </button>
</template>

<script>

import Icon from '../Icon'
export default {
  name: 'SubmitButton',
  components: { Icon },
  props: {
    loading: { required: false, type: Boolean, default: false },
    title: { required: false, type: String, default: null },
  },
}
</script>
