<template>
  <div>
    <main-menu />
    <router-view v-if="ready" />
    <div v-else>{{ $t('generic.loading') }}</div>

    <!-- Resource modal; should stay below the form -->
    <resource-description-modal v-if="showResourceDescriptionFor" :resource="showResourceDescriptionFor" @close="showResourceDescriptionFor = null" />

    <!-- Global forms -->
    <modal v-if="showGenusForm"
           :title="editingGenus ? $t('js.genera.form.title_edit') : $t('js.genera.form.title_new')"
           :has-footer="false"
           @cancel="hideGenusForm">
      <genera-form :genus="editingGenus"
                   @saved="hideGenusForm"
                   @cancel="hideGenusForm" />
    </modal>

    <modal v-if="showResourceForm"
           :title="editingResource ? $t('js.resources.form.title_edit') : $t('js.resources.form.title_new')"
           :has-footer="false"
           @cancel="hideResourceForm">
      <resource-form :resource="editingResource"
                     @saved="hideResourceForm"
                     @cancel="hideResourceForm" />
    </modal>

    <modal v-if="showLayerForm"
           :title="editingLayer ? $t('js.layers.form.title_edit') : $t('js.layers.form.title_new')"
           :has-footer="false"
           @cancel="hideLayerForm">
      <layer-form :layer="editingLayer"
                  :new-layer-map-id="editingLayerMapId"
                  @saved="hideLayerForm"
                  @cancel="hideLayerForm" />
    </modal>

    <!-- Other widgets -->
    <image-viewer-widget v-if="imageToDisplay" :list="imagesList" :preselected="imageToDisplay" @close="imageToDisplay = null" />

    <confirm-dialog v-if="confirmDialogOptions"
                    :title="confirmDialogOptions.title"
                    :message="confirmDialogOptions.message"
                    :on-accept="confirmDialogOptions.callback"
                    @done="confirmDialogOptions = null" />
  </div>
</template>

<script>
import MainMenu from './components/Layouts/_MainMenu'
import ConfirmDialog from '../../common/ConfirmDialog'
import EventBus from '../../tools/event-bus'
import Modal from '../../common/Modal'
import GeneraForm from './components/Genera/_Form'
import ResourceForm from './components/Resources/_Form'
import LayerForm from './components/Layers/_Form'
import ImageViewerWidget from '../../common/ImageViewer'
import ResourceDescriptionModal from './components/Resources/_DescriptionModal'

/**
 * @typedef {import('../../classes/models/Genus')}    Genus
 * @typedef {import('../../classes/models/Resource')} Resource
 * @typedef {import('../../classes/models/Layer')}    Layer
 */

export default {
  name: 'GardenApplication',
  components: { ResourceDescriptionModal, ImageViewerWidget, ResourceForm, GeneraForm, LayerForm, Modal, ConfirmDialog, MainMenu },
  data () {
    return {
      ready: false,
      confirmDialogOptions: null,
      // Genus form
      showGenusForm: false,
      editingGenus: null,
      // Resource form
      showResourceForm: false,
      editingResource: null,
      // Layer form
      showLayerForm: false,
      editingLayer: null,
      editingLayerMapId: null,
      // Image viewer
      imagesList: [],
      imageToDisplay: null,
      // Other modals
      showResourceDescriptionFor: null,
    }
  },
  methods: {
    editGenus (genus = null) {
      this.editingGenus = genus
      this.showGenusForm = true
    },
    hideGenusForm () {
      this.showGenusForm = false
      this.editingGenus = null
    },
    editResource (resource = null) {
      this.editingResource = resource
      this.showResourceForm = true
    },
    hideResourceForm () {
      this.showResourceForm = false
      this.editingResource = null
    },
    editLayer (layer = null) {
      this.editingLayerMapId = layer ? null : parseInt(this.$route.params.mapId, 10)
      this.editingLayer = layer
      this.showLayerForm = true
    },
    hideLayerForm () {
      this.showLayerForm = false
      this.editingLayerMapId = null
      this.editingLayer = null
    },
  },
  created () {
    EventBus.$on('ask-confirmation',
      /** @param { {title: string, message: string, callback: Function} } dialogOptions - Options to create the modal */
      (dialogOptions) => { this.confirmDialogOptions = dialogOptions })
    EventBus.$on('alert-user',
      /** @param { {title: string, message: string, callback: Function} } dialogOptions - Options to create the modal */
      (dialogOptions) => { this.confirmDialogOptions = dialogOptions })
    EventBus.$on('edit-genus',
      /** @param {Genus|null} genus - Genus to edit */
      (genus = null) => { this.editGenus(genus) })
    EventBus.$on('edit-resource',
      /** @param {Resource|null} resource - Resource to edit */
      (resource = null) => { this.editResource(resource) })
    EventBus.$on('edit-layer',
      /** @param {Layer|null} layer - Resource to edit */
      (layer = null) => { this.editLayer(layer) })

    EventBus.$on('show-resource-description',
      /** @param {Resource|null} resource - Resource to edit */
      (resource = null) => { this.showResourceDescriptionFor = resource })

    EventBus.$on('show-image',
      /** @param {{selected: string, list: string[]}} images - Widget configuration */
      (images) => {
        this.imagesList = images.list
        this.imageToDisplay = images.selected
      }
    )

    const savedMapId = localStorage.getItem('currentMap')
    if (savedMapId && this.$route.name === 'maps') this.$router.push({ name: 'map', params: { mapId: savedMapId } })

    Promise.all([
      this.$store.dispatch('loadMaps'),
      this.$store.dispatch('loadGenera'),
      this.$store.dispatch('loadResources'),
      this.$store.dispatch('loadResourceInteractions'),
    ])
      .then(() => { this.ready = true })
  },
}
</script>
