<template>
  <form action="#" class="form" @submit.prevent="save">
    <form-errors :errors="errors" model="genus" />

    <div class="alert alert--info">{{ $t('js.genera.form.community_alert') }}</div>
    <div class="field">
      <label for="genus_name">{{ $t('activerecord.attributes.genus.name') }}</label>
      <input id="genus_name"
             v-model="inputs.name"
             type="text"
             name="name"
             required>
    </div>

    <div class="field">
      <label for="genus_description">{{ $t('activerecord.attributes.genus.description') }}</label>
      <textarea id="genus_description"
                v-model="inputs.description"
                name="description"
                class="textarea--large"
                required />
    </div>

    <div class="field">
      <label for="genus_kingdom">{{ $t('activerecord.attributes.genus.kingdom') }}</label>
      <select id="genus_kingdom" v-model="inputs.kingdom" name="kingdom" required>
        <option value="plant">{{ $t('js.genera.form.kingdom_options.plant') }}</option>
        <option value="animal">{{ $t('js.genera.form.kingdom_options.animal') }}</option>
      </select>
    </div>

    <div class="field">
      <label for="genus_source">{{ $t('activerecord.attributes.genus.source') }}</label>
      <input id="genus_source" v-model="inputs.source" type="text" name="source">
      <div class="field__help">{{ $t('js.genera.form.source_help') }}</div>
    </div>

    <div class="form__actions">
      <button type="reset" :disabled="loading" @click="$emit('cancel')">{{ $t('generic.cancel') }}</button>
      <submit-button :loading="loading" />
    </div>
  </form>
</template>
<script>
import FormErrors from '../../../../common/FormErrors'
import SubmitButton from '../../../../common/inputs/SubmitButton'
import Genus from '../../../../classes/models/Genus'
import Toaster from '../../../../helpers/toaster'

export default {
  name: 'GeneraForm',
  components: { SubmitButton, FormErrors },
  props: {
    genus: { required: false, type: Genus, default: null },
  },
  data () {
    return {
      inputs: { ...this.fillInputs() },
      errors: null,
      loading: false,
    }
  },
  methods: {
    fillInputs () {
      return {
        id: null,
        name: '',
        description: '',
        kingdom: '',
        source: '',
        ...this.$props.genus,
      }
    },
    save () {
      const payload = { ...this.inputs }
      if (!payload.id) { delete payload.id }

      this.loading = true
      this.errors = null
      this.$store.dispatch('saveGenus', payload)
        .then(() => {
          Toaster.success(this.$t('js.generic.successfully_saved'))
          this.$emit('saved')
        })
        .catch((errors) => {
          Toaster.error(this.$t('js.generic.failed_to_save'))
          this.errors = errors
        })
        .then(() => { this.loading = false })
    },
  },
  watch: {
    genus () {
      this.inputs = this.fillInputs()
    },
  },
}
</script>
