<template>
  <form action="#" @submit.prevent="save">
    <form-errors :errors="errors" model="patch" />

    <div class="field">
      <label for="patchFormName">{{ $t('activerecord.attributes.patch.name') }}</label>
      <input id="patchFormName" v-model="inputs.name" type="text">
    </div>

    <div class="field">
      <label for="patchFormLayer">{{ $t('activerecord.attributes.patch.layer') }}</label>
      <select id="patchFormLayer" v-model="inputs.layer_id">
        <option v-for="layer in layers" :key="layer.id" :value="layer.id">{{ layer.name }}</option>
      </select>
    </div>

    <div class="form__actions">
      <button type="reset" :disabled="loading" @click="$emit('cancel')">{{ $t('generic.cancel') }}</button>
      <submit-button :loading="loading" />
    </div>
  </form>
</template>

<script>
import EventBus from '../../../../tools/event-bus'
import Patch from '../../../../classes/models/Patch'
import FormErrors from '../../../../common/FormErrors'
import SubmitButton from '../../../../common/inputs/SubmitButton'

export default {
  name: 'PatchesForm',
  components: { SubmitButton, FormErrors },
  props: {
    // Mandatory; this form is not for patch creation, only edition.
    patch: { required: true, type: Patch },
  },
  data () {
    return {
      loading: false,
      inputs: { ...this.resetInputs() },
      errors: null,
    }
  },
  computed: {
    layers () { return this.$store.getters.layers },
  },
  methods: {
    resetInputs () {
      return {
        id: this.patch.id,
        name: this.patch.name || '',
        layer_id: this.patch.layerId || null,
      }
    },
    save () {
      this.errors = null
      const oldPatchLayerId = this.$props.patch.layerId
      const payload = this.inputs
      this.loading = true
      this.$store.dispatch('updatePatch', payload)
        .then((updatedPatch) => {
          if (oldPatchLayerId !== payload.layer_id) EventBus.$emit('change-patch-layer', { patch: updatedPatch, fromPatchId: oldPatchLayerId })
          this.$emit('saved')
        })
        .catch((error) => { this.errors = error })
        .then(() => { this.loading = false })
    },
  },
}
</script>
