<template>
  <section class="patch_overview">
    <div class="patch_overview__title">
      <icon :name="shapeIcons[patch.geometryType].base" :title="$t('js.patch.item.type_of_patch', {type: patch.geometryType})" />
      <h2>
        {{ patch.getName() }}
      </h2>
      <div class="patch_overview__actions">
        <div class="toolbar">
          <button v-if="patch.geometryType !== 'Point'" class="button--icon text--creative" @click="$emit('add-element', patch)">
            <icon name="plus-circle" />
            {{ $t('js.patch.item.add_resource') }}
          </button>
          <button class="button--icon" @click="$emit('edit-patch', patch)">
            <icon name="pencil" />
            {{ $t('generic.edit') }}
          </button>
          <button class="button--icon text--destructive" @click="$emit('trash-patch', patch)">
            <icon name="trash" />
            {{ $t('generic.destroy') }}
          </button>
        </div>
      </div>
    </div>
    <div class="patch_overview__content">
      <div v-if="elements.length === 0" class="empty">
        <icon name="asterisk" size="3" />
        <small>{{ $t('js.patch.no_element_in_this_patch') }}</small>
      </div>
      <elements-item v-for="element in elements"
                     :key="element.id"
                     :element="element"
                     :editable="patch.geometryType !== 'Point'"
                     @trash-element="bubbleTrashElement"
                     @show-activities="bubbleShowActivities" />
    </div>
  </section>
</template>

<script>
import ElementsItem from '../Elements/_Item'
import Patch from '../../../../classes/models/Patch'
import shapeIcons from '../../../../shapeIcons'
import Icon from '../../../../common/Icon'

/**
 * @fires  show-activities
 * @fires  trash-element
 * @fires  add-element
 * @fires  edit-patch
 * @fires  trash-patch
 */
export default {
  name: 'PatchItem',
  components: { Icon, ElementsItem },
  props: {
    patch: { required: true, type: Patch },
  },
  data () {
    return {
      shapeIcons,
    }
  },
  computed: {
    elements () {
      return this.$store.getters.elementsByPatchId(this.$props.patch.id)
        // Don't care about the second patch
        .sort(a => a.isRemoved() ? 1 : -1)
    },
  },
  methods: {
    bubbleTrashElement (elementId) { this.$emit('trash-element', elementId) },
    bubbleShowActivities (element) { this.$emit('show-activities', element) },
  },
}
</script>
