<template>
  <section class="patch_overview" :class="{ removed : element.isRemoved()}">
    <div class="patch_overview__title">
      <icon :name="shapeIcons[patch.geometryType].base" :title="$t('js.patch.item.type_of_patch', {type: patch.geometryType})" />
      <h2>
        {{ patch.getName() }}
      </h2>
      <div class="patch_overview__actions">
        <div class="toolbar">
          <button class="button--icon" @click="$emit('edit-patch', patch)">
            <icon name="pencil" />
            {{ $t('generic.edit') }}
          </button>
          <button class="button--icon text--destructive" @click="$emit('trash-patch', patch)">
            <icon name="trash" />
            {{ $t('generic.destroy') }}
          </button>
        </div>
      </div>
    </div>
    <element-action-buttons :element="element"
                            class="element-item__actions"
                            :destructible="false"
                            @show-activities="bubbleShowActivities" />
    <elements-item-content v-if="!element.isRemoved()" :element="element" class="element-item__content" />
  </section>
</template>

<script>
import Patch from '../../../../classes/models/Patch'
import ElementActionButtons from '../Elements/_ActionButtons'
import ElementsItemContent from '../Elements/_ItemContent'
import shapeIcons from '../../../../shapeIcons'
import Icon from '../../../../common/Icon'

/**
 * @fires  edit-patch
 * @fires  trash-patch
 * @fires  show-activities
 */
export default {
  name: 'PatchPointAsItem',
  components: { Icon, ElementsItemContent, ElementActionButtons },
  props: {
    patch: { required: true, type: Patch },
  },
  data () {
    return {
      shapeIcons,
    }
  },
  computed: {
    element () { return this.$store.getters.elementsByPatchId(this.$props.patch.id)[0] },
  },
  methods: {
    bubbleShowActivities (elementId) { this.$emit('show-activities', elementId) },
  },
}
</script>
