<template>
  <div>
    <div class="field">
      <label for="pathFormName">{{ $t('activerecord.attributes.path.name') }}</label>
      <input id="pathFormName" v-model="inputs.name" type="text">
    </div>

    <div v-if="pathId" class="field">
      <label for="pathFormLayer">{{ $t('activerecord.attributes.path.layer') }}</label>
      <select id="pathFormLayer" v-model="inputs.layerId">
        <option v-for="layer in layers" :key="layer.id" :value="layer.id">{{ layer.name }}</option>
      </select>
    </div>

    <color-preset class="mtd" @select="applyPreset" />

    <div class="field">
      <label for="pathFormStrokeWidth">{{ $t('activerecord.attributes.path.stroke_width') }}</label>
      <select id="pathFormStrokeWidth" v-model="inputs.strokeWidth">
        <option v-for="width in [1,2,3,4,5,8,10]" :key="width" :value="width">{{ width }}</option>
      </select>
    </div>

    <stroke-style-presets :width="inputs.strokeWidth"
                          :selected="inputs.strokeStylePreset"
                          class="mtd"
                          @select="applyStroke" />

    <div class="field">
      <rgba-picker v-model="inputs.strokeColor"
                   :label="$t('activerecord.attributes.path.stroke_color')" />
    </div>
    <div class="field">
      <rgba-picker v-model="inputs.backgroundColor"
                   :label="$t('activerecord.attributes.path.background_color')" />
    </div>

    <div class="centered">
      <svg xmlns="http://www.w3.org/2000/svg" width="118.674" height="59.287" class="checked_background">
        <g :stroke="`rgba(${inputs.strokeColor})`"
           :stroke-width="`${inputs.strokeWidth}px`"
           :style="inputs.strokeStylePreset ? `stroke-dasharray:${strokeStyles[inputs.strokeStylePreset].style(inputs.strokeWidth).join(',')}` : ''">
          <path d="M5.428 5.428l38.174 7.5L53.86 53.86H5.43z" :fill="`rgba(${inputs.backgroundColor})`" />
          <path d="M66.38 38.5L77.763 7.17l9.606 45.28 12.249-22.476 13.955-3.387" fill="none" />
        </g>
      </svg>
    </div>
  </div>
</template>

<script>
import RgbaPicker from '../../../../common/inputs/RgbaPicker'
import ColorPreset from '../Widgets/Inputs/ColorPreset'
import StrokeStylePresets from '../Widgets/Inputs/StrokeStylePresets'
import strokeStyles from '../../../../strokeStylePresets'

export default {
  name: 'PathsFormInputs',
  components: { StrokeStylePresets, ColorPreset, RgbaPicker },
  props: {
    name: { required: true, type: String },
    strokeColor: { required: true, type: String },
    backgroundColor: { required: true, type: String },
    strokeWidth: { required: true, type: Number },
    strokeStylePreset: { required: false, type: String, default: null },
    pathId: { required: false, type: Number, default: null },
    layerId: { required: false, type: Number, default: null },
  },
  data () {
    return {
      strokeStyles,
      inputs: {
        name: this.$props.name,
        strokeColor: this.$props.strokeColor,
        backgroundColor: this.$props.backgroundColor,
        strokeWidth: this.$props.strokeWidth,
        strokeStylePreset: this.$props.strokeStylePreset,
        layerId: this.$props.layerId,
      },
    }
  },
  computed: {
    layers () { return this.$store.getters.layers },
  },
  methods: {
    applyPreset (preset) {
      this.inputs.strokeColor = preset.stroke
      this.inputs.backgroundColor = preset.fill
      this.inputs.strokeWidth = preset.width
      this.inputs.strokeStylePreset = preset.strokeStyle
    },
    applyStroke (key) {
      if (key === null) this.inputs.strokeStylePreset = null
      else if (strokeStyles[key]) this.inputs.strokeStylePreset = key
    },
  },
  watch: {
    name (newValue, oldValue) { if (newValue !== oldValue) this.inputs.name = newValue },
    strokeColor (newValue, oldValue) { if (newValue !== oldValue) this.inputs.strokeColor = newValue },
    backgroundColor (newValue, oldValue) { if (newValue !== oldValue) this.inputs.backgroundColor = newValue },
    strokeWidth (newValue, oldValue) { if (newValue !== oldValue) this.inputs.strokeWidth = newValue },
    strokeStylePreset (newValue, oldValue) { if (newValue !== oldValue) this.inputs.strokeStylePreset = newValue },

    'inputs.name' (newValue, oldValue) {
      if (newValue !== oldValue) this.$emit('change', { key: 'name', value: newValue })
    },
    'inputs.strokeColor' (newValue, oldValue) {
      if (newValue !== oldValue) this.$emit('change', { key: 'strokeColor', value: newValue })
    },
    'inputs.strokeStylePreset' (newValue, oldValue) {
      if (newValue !== oldValue) this.$emit('change', { key: 'strokeStylePreset', value: newValue })
    },
    'inputs.backgroundColor' (newValue, oldValue) {
      if (newValue !== oldValue) this.$emit('change', { key: 'backgroundColor', value: newValue })
    },
    'inputs.strokeWidth' (newValue, oldValue) {
      if (newValue !== oldValue) this.$emit('change', { key: 'strokeWidth', value: newValue })
    },
    'inputs.layerId' (newValue, oldValue) {
      if (newValue !== oldValue) this.$emit('change', { key: 'layerId', value: newValue })
    },
  },
}
</script>
