<template>
  <form action="#" @submit.prevent="save">
    <form-errors :errors="errors" model="path" />

    <paths-form-inputs :name="inputs.name"
                       :stroke-width="inputs.strokeWidth"
                       :stroke-color="inputs.strokeColor"
                       :background-color="inputs.backgroundColor"
                       :stroke-style-preset="inputs.strokeStylePreset"
                       :path-id="inputs.id"
                       :layer-id="inputs.layerId"
                       @change="updateInput" />

    <div class="form__actions">
      <button type="reset" :disabled="loading" @click="$emit('cancel')">{{ $t('generic.cancel') }}</button>
      <submit-button :loading="loading" />
    </div>
  </form>
</template>

<script>
import FormErrors from '../../../../common/FormErrors'
import SubmitButton from '../../../../common/inputs/SubmitButton'
import PathsFormInputs from './_FormInputs'
import Path from '../../../../classes/models/Path'
import EventBus from '../../../../tools/event-bus'

export default {
  name: 'PathForm',
  components: { PathsFormInputs, SubmitButton, FormErrors },
  props: {
    // Mandatory; this form is not for path creation, only edition.
    path: { required: true, type: Path },
  },
  data () {
    return {
      loading: false,
      inputs: { ...this.resetInputs() },
      errors: null,
    }
  },
  methods: {
    resetInputs () {
      return {
        id: this.path.id,
        name: this.path.name || '',
        strokeColor: this.path.strokeColor || '0,0,0,1',
        backgroundColor: this.path.backgroundColor || '0,0,0,0.2',
        strokeWidth: this.path.strokeWidth || 1,
        strokeStylePreset: this.path.strokeStylePreset || null,
        layerId: this.path.layerId || null,
      }
    },
    updateInput ({ key, value }) { this.inputs[key] = value },
    save () {
      this.errors = null
      const oldPathLayerId = this.$props.path.layerId
      const payload = {
        id: this.inputs.id,
        name: this.inputs.name,
        stroke_color: this.inputs.strokeColor,
        background_color: this.inputs.backgroundColor,
        stroke_width: this.inputs.strokeWidth,
        stroke_style_preset: this.inputs.strokeStylePreset,
        layer_id: this.inputs.layerId,
      }
      this.loading = true
      this.$store.dispatch('updatePath', payload)
        .then((updatedPath) => {
          if (oldPathLayerId !== payload.layer_id) EventBus.$emit('change-path-layer', { path: updatedPath, fromPathId: oldPathLayerId })
          this.$emit('saved', this.path)
        })
        .catch((error) => { this.errors = error })
        .then(() => { this.loading = false })
    },
  },
}
</script>
