<template>
  <div>
    <div v-if="activities.length === 0" class="empty">
      <icon name="asterisk" size="10" />
      {{ $t('js.elements.activities.no_activity') }}
    </div>
    <table v-else>
      <caption class="sr-only">{{ $t('js.elements.activities.list') }}</caption>
      <thead>
        <tr>
          <th scope="col">{{ $t('activerecord.attributes.activity.planned_for') }}</th>
          <th scope="col">{{ $t('activerecord.attributes.activity.done_at') }}</th>
          <th scope="col">{{ $t('js.elements.activities.action') }}</th>
          <th scope="col">{{ $t('js.elements.activities.notes') }}</th>
          <th scope="col"><icon name="image" /></th>
        </tr>
      </thead>
      <tbody>
        <template v-for="activity in activities">
          <tr :key="`main-${activity.id}`">
            <td>{{ activity.plannedFor ? $d(activity.plannedFor, 'date') : '-' }}</td>
            <td>{{ activity.doneAt ? $d(activity.doneAt, 'date') : '-' }}</td>
            <td>
              <icon :name="activityIcon(activity)" />
              {{ activityName(activity) }}
            </td>
            <td>{{ activity.notes }}</td>
            <td v-if="activity.pictures.length > 0">
              <button type="button" @click="showDetails === activity.id ? showDetails = null : showDetails = activity.id">
                {{ activity.pictures.length }}
              </button>
            </td>
            <td v-else>-</td>
          </tr>
          <tr v-show="showDetails === activity.id" :key="`details-${activity.id}`">
            <td colspan="6">
              <div class="thumbnails thumbnails--clickable">
                <a v-for="links in activity.pictures"
                   :key="links.source"
                   :href="links.source"
                   class="thumbnail"
                   @click.prevent="showImage(activity.pictures, links)">
                  <img :src="links.thumbnail" :alt="$t('js.elements.activities.a_thumbnail')">
                </a>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</template>

<script>
import activityNames from '../../../../activityNames'
import Element from '../../../../classes/models/Element'
import EventBus from '../../../../tools/event-bus'
import Icon from '../../../../common/Icon'

export default {
  name: 'ActivitiesList',
  components: { Icon },
  props: {
    element: { required: true, type: Element },
  },
  data () {
    return {
      loading: false,
      showDetails: null,
    }
  },
  computed: {
    activities () { return this.$store.getters.activitiesByElement(this.$props.element.id) },
  },
  methods: {
    loadActivities () {
      this.loading = true
      this.$store.dispatch('loadActivities', this.$props.element.id)
        .then(() => { this.loading = false })
    },
    showImage (activityPictures, selectedPicture) {
      const list = activityPictures.map(links => links.source)

      EventBus.$emit('show-image', {
        list,
        selected: selectedPicture.source,
      })
    },
    activityName (activity) {
      if (Object.keys(activityNames).indexOf(activity.name) > -1) return this.$t(activityNames[activity.name].i18n_done)

      return activity.name
    },
    activityIcon (activity) {
      if (Object.keys(activityNames).indexOf(activity.name) > -1) return activityNames[activity.name].icon

      return 'check-circle'
    },
  },
  created () { this.loadActivities() },
}
</script>
