<template>
  <form action="#" @submit.prevent="save">
    <form-errors :errors="errors" model="activity" />

    <elements-last-action :element-id="elementId" :action="action" />

    <div v-if="showNameField" class="field">
      <label :for="`${formId}-name`">{{ $t('activerecord.attributes.activity.name') }}</label>
      <input id="`${formId}-name`" v-model="inputs.name" type="text">
      <div class="field__help">
        {{ $t('js.activities.form.recent_activities') }}
        <button v-for="name in activityNames" :key="name" type="button" @click="inputs.name = name">
          {{ name }}
        </button>
      </div>
    </div>

    <div class="field">
      <label :for="`${formId}-date`">{{ $t('js.activities.form.date') }}</label>
      <input type="text" :value="$d(new Date(selectedDate), 'date')" @click="showPicker = !showPicker">
      <date-time-picker v-model="selectedDate"
                        :show="!!showPicker"
                        :time="false"
                        :input-id="`${formId}-date`"
                        :popup="true"
                        input-name="date"
                        v-bind="pickerProps"
                        @day-selected="showPicker = false"
                        @close="showPicker = false" />
    </div>

    <div class="field">
      <label :for="`${formId}-notes`">{{ $t('activerecord.attributes.activity.notes') }}</label>
      <textarea :id="`${formId}-notes`" v-model="inputs.notes" name="notes" :required="action ==='note'" />
    </div>

    <div class="field">
      <label :for="`${formId}-pictures`">{{ $t('activerecord.attributes.activity.pictures') }}</label>
      <input :id="`${formId}-pictures`"
             type="file"
             :accept="acceptedMimeTypes"
             multiple
             @change="handlePicturesSelection">
      <div class="field__help">
        {{ $t('js.activities.form.accepted_mimes', {types: acceptedMimeTypes}) }}
      </div>
    </div>

    <div class="thumbnails">
      <div v-for="(file, index) in inputs.pictures" :key="index" class="thumbnail">
        <img :src="file.source" :alt="file.file.name">
        <button type="button" class="destructive" @click="removePicture(index)">{{ $t('generic.destroy') }}</button>
      </div>
    </div>

    <div class="form__actions">
      <button type="reset" :disabled="loading" @click="$emit('cancel')">{{ $t('generic.cancel') }}</button>
      <submit-button :loading="loading" />
    </div>
  </form>
</template>

<script>
import activityNames from '../../../../activityNames'
import RandomString from '../../../../../helpers/RandomString'
import prettyBytes from '../../../../../helpers/pretty_bytes'
import DateTimePicker from '../../../../common/DateTimePicker'
import FormErrors from '../../../../common/FormErrors'
import Toaster from '../../../../helpers/toaster'
import ElementsLastAction from '../Elements/_LastAction'
import SubmitButton from '../../../../common/inputs/SubmitButton'

export default {
  name: 'ActivityForm',
  components: { SubmitButton, ElementsLastAction, FormErrors, DateTimePicker },
  props: {
    elementId: { required: true, type: Number },
    action: { required: true, type: String },
  },
  data () {
    return {
      loading: false,
      errors: null,
      showPicker: false,
      formId: RandomString(),
      selectedDate: new Date().toISOString(),
      pickerProps: {},
      // FIXME: Find a better way to pass configuration constants
      acceptedMimeTypes: ACTIVITIES_ALLOWED_MIME_TYPES,
      inputs: {
        name: this.nameInputValue(),
        notes: '',
        pictures: [],
      },
    }
  },
  computed: {
    activityNames () {
      const definedNames = Object.keys(activityNames)
      return this.$store.getters.activityNames
        .filter(n => definedNames.indexOf(n) === -1)
    },
    showNameField () { return Object.keys(activityNames).indexOf(this.$props.action) === -1 },
  },
  methods: {
    nameInputValue () {
      return this.$props.action === 'custom' ? '' : this.$props.action
    },
    save () {
      const date = new Date(this.selectedDate)
      const payload = {
        notes: this.inputs.notes,
        subject_id: this.$props.elementId,
        subject_type: 'Element',
        name: this.inputs.name.toLowerCase(),
        pictures: [],
      }
      for (const picture of this.inputs.pictures) { payload.pictures.push(picture.file) }

      if (date >= new Date()) {
        payload.planned_for = this.selectedDate
      } else {
        payload.done_at = this.selectedDate
      }
      this.loading = true
      this.$store.dispatch('createActivity', payload)
        .then((activity) => {
          this.$emit('done')
          this.$store.dispatch('addActivityName', activity.name)
          Toaster.success(this.$t('js.activity.successfully_created'))
        })
        .catch((error) => {
          this.errors = error
          Toaster.error(this.$t('js.activity.failed_to_create'))
        })
        .then(() => { this.loading = false })
    },
    handlePicturesSelection (event) {
      const files = event.target.files || event.dataTransfer.files

      for (const file of files) {
        const reader = new FileReader()
        reader.addEventListener('load', (event) => {
          this.inputs.pictures.push({ file, source: event.target.result })
        })
        reader.readAsDataURL(file)
      }
    },
    removePicture (index) {
      this.inputs.pictures.splice(index, 1)
    },
  },
  watch: {
    action () {
      this.showPicker = false
      this.inputs.name = this.nameInputValue()
      this.inputs.notes = ''
      this.selectedDate = new Date().toISOString()
    },
  },
  filters: {
    prettyBytes,
  },
}
</script>
