<template>
  <div class="todo">
    <div class="todo__check">
      <button class="button--icon button--text clickable" :disabled="!finishable" @click="finish"><icon name="square" /></button>
    </div>

    <div class="todo__content">
      <div class="todo__header">
        <div v-if="showDate" class="todo__header__date">
          {{ $d(activity.plannedFor, 'date') }}
        </div>
        <div class="todo__header__action">
          <icon :name="activityIcon(activity)" />
          {{ activityName(activity) }}
        </div>
        <div class="todo__header__title">
          <template v-if="patch.geometryType === 'Point'"> {{ patch.getName() }}</template>
          <template v-else>
            {{ $t('js.todos.activity.element_in_patch', { elementName: element.getName(), patchName: patch.getName() }) }}
          </template>
        </div>
        <div class="todo__header__actions toolbar">
          <button class="text--destructive" @click="trash"><icon name="trash" /> {{ $t('generic.destroy') }}</button>
        </div>
      </div>
      <div v-if="activity.notes" class="todo__note">
        {{ activity.notes }}
      </div>
    </div>
  </div>
</template>

<script>
import activityNames from '../../../../activityNames'
import Activity from '../../../../classes/models/Activity'
import Toaster from '../../../../helpers/toaster'
import EventBus from '../../../../tools/event-bus'
import { isOver, isSameDay } from '../../../../../helpers/Dates'
import Icon from '../../../../common/Icon'

export default {
  name: 'TodoActivity',
  components: { Icon },
  props: {
    activity: { required: true, type: Activity },
    showDate: { required: false, type: Boolean, default: false },
  },
  data () {
    return {
      loading: false,
      activityNames,
    }
  },
  computed: {
    element () { return this.activity.getSubject() },
    patch () { return this.element.getPatch() },
    finishable () { return isSameDay(this.activity.plannedFor, this.now) || isOver(this.activity.plannedFor, this.now) },
  },
  methods: {
    finish () {
      this.loading = true
      this.$store.dispatch('finishActivity', this.activity.id)
        .then(() => {
          this.loading = false
          Toaster.success(this.$t('js.elements.last_action.finished_successfully'))
        })
    },
    trash () {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('js.elements.last_action.destroy_help'),
        callback: () => {
          this.loading = true
          this.$store.dispatch('destroyActivity', this.activity.id)
            .then(() => {
              this.loading = false
              Toaster.success(this.$t('js.elements.last_action.destroyed_successfully'))
            })
        },
      })
    },
    activityName (activity) {
      if (Object.keys(activityNames).indexOf(activity.name) > -1) return this.$t(activityNames[activity.name].i18n)

      return activity.name
    },
    activityIcon (activity) {
      if (Object.keys(activityNames).indexOf(activity.name) > -1) return activityNames[activity.name].icon

      return 'check-circle'
    },
  },
}
</script>
