<template>
  <div class="element-item-popup__title">
    <div>
      <button type="button"
              class="button--icon"
              :title="$t('js.elements.action_buttons.show_activity')"
              :disabled="!element.implantedAt || element.implantedAt > today"
              @click="$emit('show-activities', element)">
        <icon name="notebook" />
      </button>
      {{ element.getName() }}
    </div>
    <small v-if="element.implantedAt">{{ $d(element.implantedAt, 'date') }}</small>
    <small v-else>{{ $t('js.elements.action_buttons.not_implanted') }}</small>
  </div>
</template>
<script>
import Element from '../../../classes/models/Element'
import Icon from '../../../common/Icon'

export default {
  name: 'ElementItem',
  components: { Icon },
  props: {
    element: { required: true, type: Element },
  },
  data () {
    return {
      today: new Date(),
    }
  },
}
</script>
