<template>
  <aside class="popup">
    <button id="popup-closer" class="popup__closer button--text" @click="$emit('close')" />
    <template v-if="path">
      <!-- eslint-disable vue/no-v-html -->
      <h2 class="popup__header">{{ path.name }} <small v-if="measure" v-html="measure" /></h2>
      <!-- eslint-enable vue/no-v-html -->
    </template>
  </aside>
</template>

<script>
import Path from '../../../classes/models/Path'
import { formatGeometryMeasure } from '../../../helpers/MeasureFormatters'
import shapeIcons from '../../../shapeIcons'

export default {
  name: 'GardenPathPopup',
  props: {
    path: { required: false, type: Path, default: null },
  },
  data () {
    return {
      shapeIcons,
    }
  },
  computed: {
    // Needed for geometry measures mixin
    measure () { return formatGeometryMeasure(this.path) },
    geometryType () { return this.path.geometryType },
  },
}
</script>
