<template>
  <aside class="popup">
    <button id="popup-closer" class="popup__closer button--text" @click="$emit('close')" />
    <template v-if="patch">
      <!-- Point -->
      <div v-if="element" class="popup__content">
        <element-item :element="element" @show-activities="bubbleShowActivities" />
      </div>
      <!-- Other geometries with multiple elements -->
      <template v-else>
        <!-- eslint-disable vue/no-v-html -->
        <h2 class="popup__header">{{ patch.getName() }} <small v-if="measure" v-html="measure" /></h2>
        <div class="popup__content">
          <div v-if="elements && elements.length === 0" class="empty">{{ $t('js.patch.no_element_in_this_patch') }}</div>
          <element-item v-for="theElement in elements" :key="theElement.id" :element="theElement" @show-activities="bubbleShowActivities" />
        </div>
      </template>
    </template>
  </aside>
</template>

<script>
import Patch from '../../../classes/models/Patch'
import { formatGeometryMeasure } from '../../../helpers/MeasureFormatters'
import shapeIcons from '../../../shapeIcons'
import ElementItem from './_ElementItem'

export default {
  name: 'GardenPatchPopup',
  components: { ElementItem },
  props: {
    patch: { required: false, type: Patch, default: null },
    readOnly: { required: false, type: Boolean, default: false },
  },
  data () {
    return {
      shapeIcons,
    }
  },
  computed: {
    element () {
      if (this.patch.geometryType !== 'Point') return null
      return this.$store.getters.elementsByPatchId(this.patch.id)[0]
    },
    elements () {
      if (this.patch.geometryType === 'Point') return null
      return this.$store.getters.elementsByPatchId(this.patch.id)
        .filter(c => !c.isRemoved())
    },
    measure () { return formatGeometryMeasure(this.patch) },
    geometryType () { return this.patch.geometryType },
  },
  methods: {
    bubbleShowActivities (element) { this.$emit('show-activities', element) },
  },
}
</script>
