<template>
  <div class="resources_list__resource">
    <div class="resources_list__resource__header">
      <img :src="resource.getPicturePath()" alt="">
      <h4 :class="{active: selectedId === resource.id}"
          @click="$emit('select', resource.id)">
        {{ resource.name }}
      </h4>
      <button class="button--icon button--text text--info" :title="$t('generic.info')" @click="showResourceDescription(resource)"><icon name="info" /></button>
    </div>
  </div>
</template>

<script>
import EventBus from '../../../../../../tools/event-bus'
import Resource from '../../../../../../classes/models/Resource'
import Icon from '../../../../../../common/Icon'

/**
 * @fires  select
 * @fires  show-info
 */
export default {
  name: 'SidePanelChildResource',
  components: { Icon },
  props: {
    resource: { required: true, type: Resource },
    selectedId: { required: false, type: Number, default: null },
  },
  methods: {
    showResourceDescription (resource) {
      EventBus.$emit('show-resource-description', resource)
    },
  },
}
</script>
