.garden {
  $layout-tabs-height: 40px;
  $layout-toolbar-height: #{$spacer-default * 4};
  $layout-content-height-calc: '#{$page-height-calc} - #{$layout-tabs-height}';
  $layout-side-panel-height-calc: '#{$layout-content-height-calc} - #{$layout-toolbar-height}';
  $layout-map-top-calc: '(#{$page-header-height-calc} + #{$layout-tabs-height} + #{$layout-toolbar-height})';

  height: calc(#{$page-height-calc});

  &__tabs {
    height: $layout-tabs-height;
    grid-area: 1 / 1 / 2 / 6;
  }

  &__content {
    height: calc(#{$layout-content-height-calc});

    &__side_panel {
      position: fixed;
      z-index: 1;
      top: calc(#{$layout-map-top-calc});
      bottom: 0;
      left: 0;
      width: 250px;
      max-width: 30vw;
      padding-left: $spacer-default;
      background-color: var(--base-background);

      &__scroll_area {
        height: calc(#{$layout-side-panel-height-calc} - 3rem);
      }

      .search-form {
        padding: $spacer-small $spacer-default;
        border-bottom: 1px solid var(--border-color-lighter);
        margin-left: -$spacer-default;
        background-color: var(--element-background);
        box-shadow: inset 0 5px 10px -10px black;

        .field {
          display: flex;
          align-items: center;

          label {
            flex: none;
            padding-right: $spacer-small;
          }

          input {
            flex-grow: 1;
          }
        }
      }
    }

    &__map_view {
      display: grid;
      grid-template-columns: auto 250px;
      grid-template-rows: $layout-toolbar-height auto;

      > .toolbars {
        display: flex;
        padding: $spacer-default;
        gap: $spacer-default;
        grid-area: 1 / 1 / 2 / 2;

        > .toolbar {
          border: 1px solid var(--border-color-lighter);
          border-radius: $border-radius;
        }
      }

      > .map {
        width: 100%;
        height: calc(#{$layout-side-panel-height-calc});
        border: 1px solid rgba(0, 0, 0, 0.1);
        grid-area: 2 / 1 / 3 / 2;
      }

      > .side_panel {
        padding: $spacer-default;
        grid-area: 1 / 2 / 3 / 3;

        > .toolbar {
          height: auto;
          margin-bottom: $spacer-default;
        }

        >.scroll_area {
          height: calc(#{$layout-side-panel-height-calc});
        }
      }
    }
  }
}
