.library {
  $list-height-calc: '#{$page-height-calc} - #{$spacer-default*4}';

  display: grid;
  padding: $spacer-default $spacer-default $spacer-default 0;
  grid-column-gap: $spacer-default;
  grid-row-gap: $spacer-default;
  grid-template-columns: 250px 1fr;
  grid-template-rows: repeat(2, auto);

  &__toolbar {
    grid-area: 1 / 1 / 2 / 3;
  }

  &__sidebar {
    height: calc(#{$list-height-calc});
    padding: $spacer-default;
    margin: 0 -$spacer-default;
    grid-area: 2 / 1 / 3 / 2;

    &__actions {
      box-shadow: 0 4px 12px -7px black;
    }

    &__list {
      height: calc(#{$list-height-calc});

      // FIXME: Same as in the garden toolbar
      box-shadow: inset 0 5px 10px -10px black, inset 0 -5px 10px -10px black;

      h3 {
        margin: $spacer-small;
      }

      .item {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          height: 1.5em;
        }

        div {
          padding-left: $spacer-small;
        }
      }
    }
  }

  &__content {
    height: calc(#{$list-height-calc});
    grid-area: 2 / 2 / 3 / 3;
  }

  &__genus-title {
    @extend %has-actions;

    border-bottom: 1px solid var(--border-color);
    margin-right: $spacer-small;
  }
}
