.shared-map {
  &__header {
    display: flex;
    align-items: center;
    padding: 0 $spacer-default;

    h1 {
      flex-grow: 1;
    }
  }

  &__content {
    display: grid;
    grid-column-gap: $spacer-default;
    grid-template-columns: auto 250px;
  }

  &__map {
    height: calc(100vh - #{$spacer-default*2.5});
  }
}
