- url = link.id ? admin_link_path : admin_links_path
= form_for link, url: url, html: { class: 'form' } do |f|
  - if link.errors.any?
    .alert.alert--alert
      %p= t('.errors', count: link.errors.count)
      %ul
        - link.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title, required: true
  .field
    = f.label :url
    = f.text_field :url, required: true
  .field
    = f.label :description
    = f.text_field :description, max: 255, required: true

  .form__actions
    = f.submit t('generic.save'), class: 'recorder'
