- @page_title = t('.title')

.page__actions
  = link_to t('generic.back'), :admin_links, role: 'button'
  = link_to t('generic.show'), @admin_link, role: 'button'
  = link_to t('generic.destroy'),
            @admin_link,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button'

= render 'form', link: @link
