- @page_title = t('.title')

.page__actions
  = link_to t('.new'), new_admin_link_path, role: 'button', class: 'creative'

- if @links.count.zero?
  .alert.alert--empty= t('.no_content')
- else
  %table
    %caption.sr-only= t('.table_caption')
    %thead
      %tr
        %th{ scope: 'col' }= t('activerecord.attributes.link.title')
        %th{ scope: 'col' }= t('activerecord.attributes.link.url')
        %th{ scope: 'col' }= t('activerecord.attributes.link.description')
        %th{ scope: 'col' }= t('activerecord.attributes.link.approved_by')
        %th{ scope: 'col' }

    %tbody
      - @links.each do |link|
        %tr.link{ class: link.pending_approval? ? 'link--pending' : '' }
          %td= link_to link.title, admin_link_path(link)
          %td= link.url
          %td= link.description
          %td
            - if link.approved?
              = link.approved_by.username
            - else
              = link_to t('.approve'), approve_admin_link_path(link), class: 'button', method: :put
          %td.actions
            = link_to t('generic.edit'), edit_admin_link_path(link), role: 'button'
            = link_to t('generic.destroy'),
                      admin_link_path(link),
                      method: :delete,
                      data: { confirm: t('generic.are_you_sure') },
                      role: 'button',
                      class: 'destructive'
