- @page_title = t('.change_your_password')

.devise-form
  = form_for(resource,
              as: resource_name,
              url: password_path(resource_name),
              html: { method: :put, class: 'form' }) do |f|
    = render 'devise/shared/error_messages', resource: resource

    = f.hidden_field :reset_password_token

    .field
      = f.label :password, t('.new_password')
      = f.password_field :password, autofocus: true, autocomplete: 'new-password', required: true
      - if @minimum_password_length
        .field__help= t('devise.shared.minimum_password_length', count: @minimum_password_length)
    .field
      = f.label :password_confirmation, t('.confirm_new_password')
      = f.password_field :password_confirmation, autocomplete: 'new-password', required: true
    .form__actions
      = f.submit t('.change_my_password'), class: 'recorder'

  %div
    = render 'devise/shared/links'
