- @page_title = t('.forgot_your_password')

.devise-form
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render 'devise/shared/error_messages', resource: resource

    .field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email'

    .form__actions
      = f.submit t('.send_me_reset_password_instructions'), class: 'creative'

  %div
    = render 'devise/shared/links'
