<template>
  <div v-if="ready" class="shared-map">
    <header class="shared-map__header">
      <h1>{{ map.name }}</h1>

      <!-- eslint-disable vue/no-v-html -->
      <div class="shared-map__header__links" v-html="$t('js.shared_map.header.home_link')" />
      <!-- eslint-enable vue/no-v-html -->
    </header>

    <div class="shared-map__content">
      <div id="map" class="map shared-map__map" />
      <garden-layers :visible-layers="activeLayers"
                     class="shared-map__layers"
                     @toggle="handleLayerVisibilityToggle" />
    </div>

    <div v-show="pointedEntity" id="garden-popup" class="popup__wrapper">
      <garden-patch-popup v-if="pointedEntityType === 'patch'"
                          :patch="pointedEntity"
                          @show-activities="handleActivitiesDisplay"
                          @close="pointedEntity = null" />
      <garden-path-popup v-if="pointedEntityType === 'path'"
                         :path="pointedEntity"
                         @close="pointedEntity = null" />
    </div>

    <modal v-if="showingActivities"
           :title="showingActivities.getName()"
           :cancellable="false"
           @validate="showingActivities = null"
           @cancel="showingActivities = null">
      <activities-list :element="showingActivities" />
    </modal>

    <!-- Other widgets -->
    <image-viewer-widget v-if="imageToDisplay"
                         :list="imagesList"
                         :preselected="imageToDisplay"
                         @close="imageToDisplay = null" />
  </div>
  <div v-else>{{ $t('generic.loading') }}</div>
</template>

<script>
import EventBus from '../../tools/event-bus'
import ImageViewerWidget from '../../common/ImageViewer'
import GardenMap from '../../classes/GardenMap'
import ActivitiesList from '../garden/components/Activities/_ActivitiesList'
import Modal from '../../common/Modal'
import GardenLayers from './components/_Layers'
import GardenPatchPopup from './components/_PatchPopup'
import GardenPathPopup from './components/_PathPopup'

/**
 * @typedef {import('../../classes/models/Patch')}    Patch
 * @typedef {import('../../classes/models/Path')}     Path
 * @typedef {import('../../classes/models/Layer')}    Layer
 * @typedef {import('../../classes/models/Genus')}    Genus
 * @typedef {import('../../classes/models/Resource')} Resource
 * @typedef {import('../../classes/models/Layer')}    Layer
 */

export default {
  name: 'App',
  components: { ImageViewerWidget, GardenLayers, ActivitiesList, Modal, GardenPatchPopup, GardenPathPopup },
  data () {
    return {
      /** @type {boolean} True when all api calls succeeds */
      ready: false,
      /** @type {GardenMap} Map instance */
      gardenMap: null,
      /** @type {number[]} List of active layers */
      activeLayers: [],
      /** @type {Patch|Path} Active entity in review mode */
      pointedEntity: null,
      /** @type {string|null} Active entity type in review mode */
      pointedEntityType: null,

      showingActivities: null,

      // Image viewer
      imagesList: [],
      imageToDisplay: null,
      // Other modals
      showResourceDescriptionFor: null,
    }
  },
  computed: {
    layers () { return this.$store.getters.layers },
    map () { return this.$store.getters.map(this.$mapId) },
  },
  methods: {
    handleActivitiesDisplay (element) { this.showingActivities = element },
    handleLayerVisibilityToggle (id) {
      const index = this.activeLayers.indexOf(id)
      if (index === -1) {
        this.activeLayers.push(id)
      } else {
        this.activeLayers.splice(index, 1)
      }

      this.gardenMap.setVisibleLayers(this.activeLayers)
    },
    handlePointEntity (event) {
      if (!event.detail) {
        this.pointedEntity = null
        this.pointedEntityType = null
        return
      }
      const type = event.detail.type
      const id = event.detail.id
      this.pointedEntityType = type
      this.pointedEntity = id ? this.$store.getters[type](id) : null
    },
  },
  created () {
    EventBus.$on('show-resource-description',
      /** @param {Resource|null} resource - Resource to edit */
      (resource = null) => { this.showResourceDescriptionFor = resource })

    EventBus.$on('show-image',
      /** @param {{selected: string, list: string[]}} images - Widget configuration */
      (images) => {
        this.imagesList = images.list
        this.imageToDisplay = images.selected
      })

    this.$store.dispatch('loadSharedGarden', this.$mapId)
      .then(() => {
        this.ready = true
        // Wait for initial rendering
        this.$nextTick(() => {
          this.gardenMap = new GardenMap(this.map, 'garden-popup', 'map')
          this.gardenMap.mapElement.addEventListener('point-entity', this.handlePointEntity)
          this.gardenMap.review()
          this.activeLayers = this.$store.getters.layers.map(l => l.id)
        })
      })
  },
}
</script>
