<template>
  <div>
    <div class="toolbar toolbar--tabs toolbar--right element-item-popup__buttons">
      <!-- Planned plantation notice -->
      <div v-if="element.isPlanned() && element.isImplantationPlanned()" class="toolbar__text text--info">
        {{ $t('js.elements.action_buttons.waiting_for_implantation_on', { date: $d(element.implantationPlannedFor, 'date') }) }}
      </div>

      <!-- Removed date -->
      <div v-else-if="element.isRemoved()" class="toolbar__text text--info">
        {{ $t('js.elements.action_buttons.removed_at', {date: $d(element.removedAt, 'date')}) }}
      </div>

      <!-- Plantation button -->
      <button v-else-if="!element.isImplanted()"
              type="button"
              class="button--icon"
              :class="{active: implantElement}"
              @click="implantElement = true">
        <icon name="arrow-bend-right-down" />
        {{ $t('js.elements.action_buttons.implant') }}
      </button>

      <!-- Buttons for a planted resource -->
      <template v-else>
        <button v-for="(activity, name) in activityNames"
                :key="name"
                type="button"
                class="button--icon"
                :class="{ active: action === name }"
                @click="action = name">
          <icon :name="activity.icon" />
          {{ $t(activity.i18n) }}
        </button>
        <button type="button" class="button--icon" @click="action = 'custom'">
          <icon name="ellipsis" />
        </button>
        <button type="button" class="button--icon text--warning" :class="{active: action === 'remove'}" @click="action = 'remove'">
          <icon name="arrow-bend-right-up" />
          {{ $t('js.elements.action_buttons.action.remove') }}
        </button>
      </template>

      <!-- Common element buttons -->
      <div class="separator" />
      <button type="button"
              class="button--icon"
              :title="$t('js.elements.action_buttons.show_activity')"
              :disabled="!element.implantedAt || element.implantedAt > today"
              @click="$emit('show-activities', element)">
        <icon name="notebook" />
      </button>
      <template v-if="destructible">
        <button type="button"
                :title="$t('js.elements.action_buttons.destroy_element')"
                class="button--icon text--destructive"
                @click="$emit('trash-element', element.id)">
          <icon name="trash" />
        </button>
      </template>
    </div>
    <form-errors :errors="errors" :model="errorsModel" class="element-item-popup__content" />
    <div v-if="action || implantElement" class="element-item-popup__content">
      <!-- Form for plantation -->
      <form v-if="implantElement" action="#" @submit.prevent="implant">
        <div class="field">
          <label :id="`${formId}-implanted-at`">{{ $t('js.elements.action_buttons.plantation_date') }}</label>
          <date-time-picker v-model="implantInputDate"
                            :time="false"
                            :input-id="`${formId}-implanted-at`"
                            input-name="implanted_at" />
        </div>
        <div class="form__actions">
          <button type="reset" :disabled="loading" @click="implantElement = false">{{ $t('generic.cancel') }}</button>
          <submit-button :loading="loading" />
        </div>
      </form>
      <!-- Form for removal -->
      <form v-else-if="action === 'remove'" action="#" @submit.prevent="remove">
        <div class="field">
          <label :id="`${formId}-removed-at`">{{ $t('js.elements.action_buttons.removal_date') }}</label>
          <date-time-picker v-model="removeInputDate"
                            :time="false"
                            :input-id="`${formId}-removed-at`"
                            :not-before="element.implantedAt"
                            input-name="removed_at" />
        </div>
        <div class="form__actions">
          <button type="reset" :disabled="loading" @click="action = ''">{{ $t('generic.cancel') }}</button>
          <submit-button :loading="loading" />
        </div>
      </form>
      <!-- Form for actions -->
      <activity-form v-if="action && action !== 'remove'"
                     :element-id="element.id"
                     :action="action"
                     @cancel="action = ''"
                     @done="action=''" />
    </div>
  </div>
</template>
<script>
import activityNames from '../../../../activityNames'
import randomString from '../../../../../helpers/RandomString'
import Element from '../../../../classes/models/Element'
import DateTimePicker from '../../../../common/DateTimePicker'
import FormErrors from '../../../../common/FormErrors'
import ActivityForm from '../Activities/_Form'
import SubmitButton from '../../../../common/inputs/SubmitButton'
import Icon from '../../../../common/Icon'

/**
 * @fires  show-activities
 * @fires  trash-element
 */
export default {
  name: 'ElementActionButtons',
  components: { Icon, SubmitButton, ActivityForm, FormErrors, DateTimePicker },
  props: {
    element: { required: true, type: Element },
    destructible: { required: false, type: Boolean, default: true },
  },
  data () {
    return {
      action: '',
      implantInputDate: new Date().toISOString(),
      removeInputDate: new Date().toISOString(),
      implantElement: false,
      loading: false,
      formId: randomString(),
      today: new Date(),
      activityNames,
      errors: null,
      errorsModel: '',
    }
  },
  methods: {
    implant () {
      this.errors = null
      this.loading = true
      this.$store.dispatch('implantElement', { id: this.$props.element.id, date: this.implantInputDate })
        .then(() => {
          this.implantElement = false
          this.loading = false
        })
        .catch((error) => {
          this.errors = error
          this.errorsModel = 'element'
          this.loading = false
        })
    },
    remove () {
      this.errors = null
      this.loading = true
      this.$store.dispatch('removeElement', { id: this.$props.element.id, date: this.removeInputDate })
        .then(() => {
          this.action = null
          this.loading = false
        })
        .catch((error) => {
          this.errors = error
          this.errorsModel = 'element'
          this.loading = false
        })
    },
  },
  created () {
    this.loading = true
    this.$store.dispatch('loadActivities', this.$props.element.id)
      .then(() => { this.loading = false })
  },
}
</script>
