<template>
  <div>
    <dl class="grid grid--2">
      <div>
        <template v-if="element.isImplantationPlanned() && !element.isImplanted()">
          <dt>{{ $t('activerecord.attributes.element.implantation_planned_for') }}</dt>
          <dd class="clickable" :class="actionCSS(element.implantationPlannedFor)">
            <button :id="`${formId}-implant-now`"
                    type="button"
                    class="button--icon button--text clickable"
                    :title="$t('js.views.elements.item_content.implant_now')"
                    @click="implantNow">
              <icon name="square" />
            </button>
            <label :for="`${formId}-implant-now`" class="inline">{{ $d(element.implantationPlannedFor, 'date') }}</label>
          </dd>
        </template>

        <template v-if="element.isImplanted()">
          <dt>{{ $t('activerecord.attributes.element.implanted_at') }}</dt>
          <dd>{{ $d(element.implantedAt, 'date') }}</dd>
        </template>
      </div>

      <div>
        <template v-if="element.isRemovalPlanned() && !element.isRemoved()">
          <dt>{{ $t('activerecord.attributes.element.removal_planned_for') }}</dt>
          <dd class="clickable" :class="actionCSS(element.removalPlannedFor)">
            <button :id="`${formId}-remove-now`"
                    type="button"
                    class="button--icon button--text"
                    :title="$t('js.views.elements.item_content.remove_now')"
                    @click="removeNow">
              <icon name="square" />
            </button>
            <label :for="`${formId}-remove-now`" class="inline">{{ $d(element.removalPlannedFor, 'date') }}</label>
          </dd>
        </template>

        <template v-if="element.isRemoved()">
          <dt>{{ $t('activerecord.attributes.element.removed_at') }}</dt>
          <dd>{{ $d(element.removedAt, 'date') }}</dd>
        </template>
      </div>
    </dl>
  </div>
</template>

<script>
import Element from '../../../../classes/models/Element'
import randomString from '../../../../../helpers/RandomString'
import Toaster from '../../../../helpers/toaster'
import { isSameDay, isOver } from '../../../../../helpers/Dates'
import Icon from '../../../../common/Icon'

export default {
  name: 'ElementsItemContent',
  components: { Icon },
  props: {
    element: { required: true, type: Element },
  },
  data () {
    return {
      loading: false,
      formId: randomString(),
      now: new Date(),
    }
  },
  methods: {
    implantNow () {
      this.loading = true
      this.$store.dispatch('implantElement', { id: this.$props.element.id, date: new Date().toISOString() })
        .then(() => { Toaster.success(this.$t('js.elements.item_content.successfully_implanted')) })
        .catch(() => { Toaster.error(this.$t('js.elements.item_content.failed_to_implant')) })
        .then(() => { this.loading = false })
    },
    removeNow () {
      this.loading = true
      this.$store.dispatch('removeElement', { id: this.$props.element.id, date: new Date().toISOString() })
        .then(() => { Toaster.success(this.$t('js.elements.item_content.successfully_removed')) })
        .catch(() => { Toaster.error(this.$t('js.elements.item_content.failed_to_remove')) })
        .then(() => { this.loading = false })
    },
    actionCSS (date) {
      return {
        'text--warning': isSameDay(date, this.now),
        'text--danger': isOver(date, this.now),
      }
    },
  },
}
</script>
