<template>
  <div class="grid grid--2">
    <section v-if="lastTimeDone.length > 0">
      <h4>{{ $t('activerecord.attributes.activity.done_at') }}</h4>
      <div v-for="activity in lastTimeDone"
           :key="activity.id"
           class="item item--small"
           :class="{'text--done': isSameDay(activity.doneAt)}">
        <div class="item__content">{{ $d(activity.doneAt, 'date') }}</div>
      </div>
    </section>

    <section v-if="nextTimePlanned.length > 0">
      <h4>{{ $t('activerecord.attributes.activity.planned_for') }}</h4>
      <div v-for="activity in nextTimePlanned"
           :key="activity.id"
           class="item item--small item--has-actions">
        <div class="item__content"
             :class="{'text--warning': isSameDay(activity.plannedFor), 'text--danger': isOver(activity.plannedFor)}">
          {{ $d(activity.plannedFor, 'date') }}
        </div>
        <div class="item__actions toolbar toolbar--small">
          <button type="button"
                  class="button--icon"
                  :title="$t('js.elements.last_action.finish')"
                  :disabled="!isSameDay(activity.plannedFor) && !isOver(activity.plannedFor)"
                  @click="finish(activity.id)">
            <icon name="check" />
          </button>
          <button type="button" :title="$t('generic.destroy')" class="button--icon destructive" @click="destroy(activity.id)"><icon name="trash" /></button>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { isOver, isSameDay } from '../../../../../helpers/Dates'
import Toaster from '../../../../helpers/toaster'
import EventBus from '../../../../tools/event-bus'
import Icon from '../../../../common/Icon'

export default {
  name: 'ElementsLastAction',
  components: { Icon },
  props: {
    action: { required: true, type: String },
    elementId: { required: true, type: Number },
  },
  data () {
    return {
      loading: false,
      lastActivities: [],
      now: new Date(),
    }
  },
  computed: {
    lastTimeDone () {
      return this.$store.getters.lastTimeDone({ elementId: this.$props.elementId, name: this.$props.action })
        .slice(-3).reverse()
    },
    nextTimePlanned () {
      return this.$store.getters.nextTimePlanned({ elementId: this.$props.elementId, name: this.$props.action })
        .slice(-3).reverse()
    },
  },
  methods: {
    isSameDay (date) { return isSameDay(this.now, date) },
    isOver (date) { return isOver(date, this.now) },
    finish (activityId) {
      this.$store.dispatch('finishActivity', activityId)
        .then(() => Toaster.success(this.$t('js.elements.last_action.finished_successfully')))
    },
    destroy (activityId) {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('js.elements.last_action.destroy_help'),
        callback: () => {
          this.$store.dispatch('destroyActivity', activityId)
            .then(() => Toaster.success(this.$t('js.elements.last_action.destroyed_successfully')))
        },
      })
    },
  },
}
</script>
