- @page_title = t('.title')

.page__actions
  = link_to t('generic.back'), :admin_resources, role: 'button'
  = link_to t('generic.show'), @admin_resource, role: 'button'
  = link_to t('generic.destroy'),
            @admin_resource,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button'

= render 'form', resource: @resource
