- @page_title = t('.title', name: @resource.name)

.page__actions
  = link_to t('generic.back'), admin_resources_path, role: 'button'

  - if policy([:admin, @resource]).edit?
    = link_to t('generic.edit'), edit_admin_resource_path(@resource), role: 'button'
  - if policy([:admin, @resource]).destroy?
    = link_to t('generic.destroy'),
              admin_resource_path,
              method: :delete,
              data: { confirm: t('generic.are_you_sure') },
              role: 'button',
              class: 'destructive'
.page--show
  %aside.page__panel
    %section
      %dl
        %dt= t('generic.definition', value: t('activerecord.attributes.resource.genus'))
        %dd= link_to @resource.genus.name, admin_genus_path(@resource.genus)

        %dt= t('generic.definition', value: t('activerecord.attributes.resource.source'))
        %dd= @resource.source

        %dt= t('generic.definition', value: t('activerecord.attributes.resource.common_names'))
        %dd
          - if @resource.common_names.size.zero?
            \-
          - else
            %ul
              - @resource.common_names.each do |cn|
                %li= cn

        %dt= t('generic.definition', value: t('activerecord.attributes.resource.edible'))
        %dd= yes_no @resource.edible

        %dt= t('generic.definition', value: t('activerecord.attributes.resource.parent'))
        %dd= @resource.parent ? @resource.parent.name : '-'

  .page__content
    %h2= t('activerecord.attributes.resource.description')
    #markdown
      #markdown-source= @resource.description

    - if @resource.parent.blank?
      %h2= t('.resources')
      - if @resource.children.size.zero?
        .alert.alert--mute= t('.no_child_resource')
      - else
        %ul
          - @resource.children.each do |resource|
            %li= link_to resource.name, admin_resource_path(resource)

:javascript
  renderMD(document.getElementById('markdown'), document.getElementById('markdown-source'))
