<template>
  <div class="grid--2">
    <form action="#">
      <div class="field">
        <label for="soil-analyser-clay">
          {{ $t('js.widgets.soil_analyzer.clay', { value: inputs.clay }) }}
        </label>
        <input id="soil-analyser-clay"
               v-model="inputs.clay"
               type="number"
               min="0"
               step="0.1"
               name="clay"
               @change="updatePercentages">
        {{ clayPercent | round }}%
      </div>

      <div class="field">
        <label for="soil-analyser-silt">
          {{ $t('js.widgets.soil_analyzer.silt', { value: inputs.silt }) }}
        </label>
        <input id="soil-analyser-silt"
               v-model="inputs.silt"
               type="number"
               min="0"
               step="0.1"
               name="silt"
               @change="updatePercentages">
        {{ siltPercent | round }}%
      </div>

      <div class="field">
        <label for="soil-analyser-sand">
          {{ $t('js.widgets.soil_analyzer.sand', { value: inputs.sand }) }}
        </label>
        <input id="soil-analyser-sand"
               v-model="inputs.sand"
               type="number"
               min="0"
               step="0.1"
               name="sand"
               @change="updatePercentages">
        {{ sandPercent | round }}%
      </div>
    </form>
    <aside>
      <soil-analyzer :clay-percent="clayPercent"
                     :silt-percent="siltPercent"
                     :sand-percent="sandPercent"
                     :show-legend="true" />
    </aside>
  </div>
</template>

<script>
import SoilAnalyzer from '../../garden/components/SoilAnalysis/_SoilAnalyzer'

export default {
  name: 'SoilAnalysis',
  components: { SoilAnalyzer },
  data () {
    return {
      inputs: {
        clay: 0,
        silt: 0,
        sand: 0,
      },
      clayPercent: 0,
      siltPercent: 0,
      sandPercent: 0,
    }
  },
  computed: {
    clayValue () { return parseFloat(this.inputs.clay) },
    siltValue () { return parseFloat(this.inputs.silt) },
    sandValue () { return parseFloat(this.inputs.sand) },
    total () { return this.clayValue + this.siltValue + this.sandValue },
  },
  methods: {
    updatePercentages () {
      const total = this.total / 100
      this.clayPercent = total === 0 ? 0 : this.clayValue / total
      this.siltPercent = total === 0 ? 0 : this.siltValue / total
      this.sandPercent = total === 0 ? 0 : this.sandValue / total
    },
  },
  created () {
    this.updatePercentages()
  },
  filters: {
    round (value) { return Math.round(value) },
  },
}
</script>
