= form_for link do |f|
  - if link.errors.any?
    .alert.alert--alert
      %p= t('.errors', count: link.errors.count)
      %ul
        - link.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title, required: true
  .field
    = f.label :url
    = f.url_field :url, required: true
  .field
    = f.label :description
    = f.text_field :description, max: 255, required: true

  .form__actions
    = f.submit t('generic.save'), class: 'recorder'
