- @page_title = t('.title')

.page__actions
  = link_to t('generic.back'), :links, role: 'button'
  = link_to t('generic.show'), @link, role: 'button'
  = link_to t('generic.destroy'),
            @link,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button'

= render 'form', link: @link
