- @page_title = t('.title')

- if current_user
  .page__actions
    = link_to t('.new'), new_link_path, role: 'button', class: 'creative'

- if @links.count.zero?
  .alert.alert--empty= t('.no_content')
- else
  .links-list
    - @links.each do |link|
      .link.element{ class: link.pending_approval? ? 'link--pending' : '' }
        .element-item__title
          %h3
            - if link.pending_approval?
              [#{t('.approval_pending')}]
            = link_to link.title, link.url, rel: 'noopener noreferrer'
          - if owner? link
            .element-item__actions
              = link_to t('generic.edit'), edit_link_path(link), class: 'button'
              = link_to t('generic.destroy'), link_path(link), method: :delete,
                        data: { confirm: t('generic.are_you_sure') },
                        class: 'button destructive'
        .element-item__content= link.description
