<template>
  <modal :title="displayTitle"
         :cancellable="true"
         :validatable="acceptable"
         @cancel="$emit('done')"
         @validate="accept">
    {{ message }}
  </modal>
</template>
<script>
import Modal from './Modal'

export default {
  name: 'ConfirmDialog',
  components: { Modal },
  props: {
    message: { required: true, type: String },
    title: { required: false, type: String, default: null },
    onAccept: { required: true, type: Function, default: () => {} },
  },
  data () {
    return { displayTitle: this.$props.title || this.$t('generic.are_you_sure') }
  },
  computed: {
    acceptable () { return (typeof this.$props.onAccept === 'function') },
  },
  methods: {
    accept () {
      this.$props.onAccept()
      this.$emit('done')
    },
  },
}
</script>
