<template>
  <div v-show="show"
       class="datetime_picker"
       :class="{'datetime_picker--popup': popup}"
       tabindex="0"
       @blur="handleBlur">
    <div class="datetime_picker__header">
      <div class="toolbar">
        <button type="button" class="button--icon" @click="changeYear(-1)"><icon name="caret-double-left" /></button>
        <button type="button" class="button--icon" @click="changeMonth(-1)"><icon name="caret-left" /></button>
      </div>
      <button type="button" class="button--text datetime_picker__header__date" @click="toggleInputs">
        {{ niceDate(selectedDate) }}
      </button>
      <div class="toolbar">
        <button type="button" class="button--icon" @click="changeMonth(1)"><icon name="caret-right" /></button>
        <button type="button" class="button--icon" @click="changeYear(1)"><icon name="caret-double-right" /></button>
      </div>
    </div>
    <div v-show="showInputs">
      <div class="field">
        <label :for="`${inputId}_date`">{{ $t('js.widgets.datetimepicker.date') }}</label>
        <input :id="`${inputId}_date`"
               v-model="inputDate"
               :name="`${inputId}_date`"
               type="number"
               @change="setDateFromInputs">
      </div>
      <div class="field">
        <label :for="`${inputId}_month`">{{ $t('js.widgets.datetimepicker.month') }}</label>
        <select :id="`${inputId}_month`" v-model="inputMonth" :name="`${inputId}_month`" @change="setDateFromInputs">
          <option v-for="(month, index) in months" :key="index" :value="index + 1">{{ month }}</option>
        </select>
      </div>
      <div class="field">
        <label :for="`${inputId}_year`">{{ $t('js.widgets.datetimepicker.year') }}</label>
        <input :id="`${inputId}_year`"
               v-model="inputYear"
               :name="`${inputId}_year`"
               type="number"
               @change="setDateFromInputs">
      </div>
    </div>
    <div v-show="!showInputs" class="datetime_picker__days">
      <div v-for="i in 7" :key="i" class="datetime_picker__days__header">
        {{ dayName(daysOfMonth[i - 1]) }}
      </div>
      <button v-for="day in daysOfMonth"
              :key="day.toString()"
              type="button"
              :class="dayCssClasses(day)"
              class="datetime_picker__day"
              :disabled="forbidden(day)"
              @click="setDate(day)">
        {{ day.getDate() }}
      </button>
    </div>
    <div v-if="time" class="datetime_picker__time">
      <input :id="`${inputId}_hours`"
             v-model="selectedHours"
             type="number"
             min="0"
             max="23"
             step="1"
             required="required"
             :name="`${inputId}_hours`"
             @change="setHours">
      :
      <input :id="`${inputId}_minutes`"
             v-model="selectedMinutes"
             type="number"
             min="0"
             max="59"
             step="1"
             required="required"
             :name="`${inputId}_minutes`"
             @change="setMinutes">
    </div>
    <input :id="`${inputId}_selected_date`"
           ref="hiddenInput"
           type="hidden"
           :name="inputName"
           :value="selectedDateIso">
  </div>
</template>

<script>
import { isSameDay, isSameMonth } from '../../helpers/Dates'
import Icon from './Icon'

/**
 * Returns the amount of days in a month for a given year
 *
 * @param   {number} month - Target month
 * @param   {number} year  - Target year
 * @returns {number}       Amount of days
 */
function daysInMonth (month, year) {
  return new Date(year, month + 1, 0).getDate()
}

/**
 * Returns the first day of the month for the given date
 *
 * @param   {Date}   referenceDate - Date to check for
 * @returns {number}               First day of the month (javascript day)
 */
function firstDayOfMonth (referenceDate) {
  const date = new Date(referenceDate)
  date.setDate(1)
  return date.getDay()
}

/**
 * Creates an array of days for the month of the given date
 *
 * @param   {Date}   targetDate - Date for which create the days list
 * @returns {Date[]}            List of days
 */
function fillMonthDays (targetDate) {
  // Don't touch the date
  const targetDateTime = new Date(targetDate)
  const days = []

  const amountOfDaysInMonth = daysInMonth(targetDateTime.getMonth(), targetDateTime.getFullYear())
  const firstWeekDay = firstDayOfMonth(targetDateTime)

  let amountToBuild = firstWeekDay + amountOfDaysInMonth
  amountToBuild = Math.ceil(amountToBuild / 7) * 7

  targetDateTime.setDate(-firstWeekDay + 1)

  // Fill days
  for (let i = 0; i < amountToBuild; i++) {
    const newDay = new Date(targetDateTime)
    newDay.setDate(newDay.getDate() + i)
    days.push(newDay)
  }

  return days
}

export default {
  name: 'DateTimePicker',
  components: { Icon },
  props: {
    // ISO string date
    value: { required: true, type: String },
    inputId: { required: true, type: String },
    inputName: { required: true, type: String },
    popup: { required: false, type: Boolean, default: false },
    time: { required: false, type: Boolean, default: true },
    notBefore: { required: false, type: Date, default: null },
    notAfter: { required: false, type: Date, default: null },
    show: { required: false, type: Boolean, default: true },
  },
  data () {
    const months = this.$t('date.month_names')
    months.shift()
    const date = new Date(this.$props.value)
    return {
      showInputs: false,
      selectedDate: date,
      today: new Date(),
      selectedHours: date.getHours(),
      selectedMinutes: date.getMinutes(),
      daysOfMonth: [],
      selectedDateIso: date.toISOString(),
      inputDate: date.getDate(),
      inputMonth: date.getMonth() + 1,
      inputYear: date.getFullYear(),
      // Month strings
      months,
    }
  },
  methods: {
    syncDate (date) {
      this.selectedHours = date.getHours()
      this.selectedMinutes = date.getMinutes()
      this.selectedDateIso = date.toISOString()
      this.buildMonth()
    },
    buildMonth () {
      this.daysOfMonth = fillMonthDays(this.selectedDate)
    },
    notifyChange () {
      this.selectedDateIso = this.selectedDate.toISOString()
      this.$emit('input', this.selectedDateIso)
    },
    setDate (date) {
      const newDate = new Date(this.selectedDate)
      newDate.setFullYear(date.getFullYear())
      newDate.setMonth(date.getMonth())
      newDate.setDate(date.getDate())
      this.selectedDate = newDate
      this.notifyChange()
      this.$emit('day-selected', this.selectedDateIso)
    },
    setHours () {
      const hours = parseInt(this.selectedHours, 10)
      const date = new Date(this.selectedDate)
      if (hours >= 0 && hours <= 23) date.setHours(hours)
      this.selectedDate = date
      this.notifyChange()
    },
    setMinutes () {
      const minutes = parseInt(this.selectedMinutes, 10)
      const date = new Date(this.selectedDate)
      if (minutes >= 0 && minutes <= 59) date.setMinutes(minutes)
      this.selectedDate = date
      this.notifyChange()
    },
    changeMonth (amount) {
      const month = this.selectedDate.getMonth()
      const date = new Date(this.selectedDate)
      date.setMonth(month + amount)
      this.selectedDate = date
      this.buildMonth()
      this.notifyChange()
    },
    changeYear (amount) {
      const year = this.selectedDate.getFullYear()
      const date = new Date(this.selectedDate)
      date.setFullYear(year + amount)
      this.selectedDate = date
      this.buildMonth()
      this.notifyChange()
    },
    toggleInputs () {
      if (!this.showInputs) {
        this.inputDate = this.selectedDate.getDate()
        this.inputMonth = this.selectedDate.getMonth() + 1
        this.inputYear = this.selectedDate.getFullYear()
      }

      this.showInputs = !this.showInputs
    },
    setDateFromInputs () {
      const date = new Date(this.selectedDate)
      date.setFullYear(this.inputYear)
      date.setMonth(this.inputMonth)
      date.setDate(this.inputDate)

      this.selectedDate = date
      this.buildMonth()
      this.notifyChange()
    },
    forbidden (date) {
      return (!!this.$props.notAfter && this.$props.notAfter < date) || (!!this.$props.notBefore && this.$props.notBefore > date)
    },
    dayCssClasses (date) {
      return {
        'datetime_picker__day--today': isSameDay(date, this.today),
        'datetime_picker__day--out_of_range': !isSameMonth(date, this.selectedDate),
        'datetime_picker__day--selected': isSameDay(date, this.selectedDate),
      }
    },
    niceDate (date) {
      if (this.time) return this.$d(date, 'medium')

      return this.$d(date, 'date')
    },
    dayName (date) {
      return this.$d(date, 'day_name')
    },
    handleBlur (e) {
      if (!e.explicitOriginalTarget || this.$el.contains(e.explicitOriginalTarget)) return

      this.$emit('close')
    },
  },
  created () {
    this.syncDate(new Date(this.$props.value))
  },
  watch: {
    value (date) {
      this.syncDate(new Date(date))
    },
    show (value) {
      this.$nextTick(() => { if (value) { this.$el.focus() } })
    },
  },
}
</script>
