<template>
  <div class="dropdown" :class="wide ? 'dropdown--block' : ''">
    <button class="dropdown__trigger">
      <slot name="caption"><span>{{ caption }}</span></slot>
      <span>&blacktriangledown;</span>
    </button>
    <div class="dropdown__content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Dropdown',
  props: {
    caption: { required: true, type: String },
    wide: { required: false, type: Boolean, default: false },
  },
}
</script>
