<template>
  <svg class="icon" :class="cssClasses" viewBox="0 0 24 24">
    <title v-if="title">{{ title }}</title>
    <use :xlink:href="`${definitionFile}#icon-${name}`" />
  </svg>
</template>

<script>
import definitionFile from '~../../../assets/images/icons.svg'

export default {
  name: 'Icon',
  props: {
    name: { required: true, type: String },
    size: { required: false, type: [String, Number], default: null },
    title: { required: false, type: String, default: null },
    spin: { required: false, type: Boolean, default: false },
  },
  data () {
    return { definitionFile }
  },
  computed: {
    cssClasses () {
      const classes = []
      if (this.spin) classes.push('icon--spin')
      if (this.size) classes.push(`icon--${this.size}x`)

      return classes.join(' ')
    },
  },
}
</script>
