<template>
  <div class="image_viewer">
    <button :disabled="!hasButtons" class="image_viewer__button" :title="$t('js.widgets.image_viewer.previous')" @click="changePicture(-1)">
      <icon name="skip-back" />
    </button>
    <img :src="currentURL" :alt="$t('js.widgets.image_viewer.a_picture')" class="image_viewer__image">
    <button :disabled="!hasButtons" class="image_viewer__button" :title="$t('js.widgets.image_viewer.next')" @click="changePicture(1)">
      <icon name="skip-forward" />
    </button>

    <button type="button" class="image_viewer__close" :title="$t('js.widgets.image_viewer.close')" @click="$emit('close')">
      <icon name="x-square" />
    </button>
  </div>
</template>
<script>

import Icon from './Icon'
export default {
  name: 'ImageViewerWidget',
  components: { Icon },
  props: {
    list: { required: false, type: Array, default: () => [] },
    preselected: { required: true, type: String },
  },
  data () {
    return {
      currentURL: this.$props.preselected,
    }
  },
  computed: {
    hasButtons () { return this.$props.list.length > 1 },
  },
  methods: {
    changePicture (shiftIndex) {
      const currentIndex = this.$props.list.findIndex(url => url === this.currentURL)
      const lastIndex = this.$props.list.length - 1
      let nextIndex = currentIndex + shiftIndex

      if (nextIndex < 0) nextIndex = lastIndex
      else if (nextIndex > lastIndex) nextIndex = 0

      this.currentURL = this.$props.list[nextIndex]
    },
  },
}
</script>
