<template>
  <div class="modal">
    <div class="modal__overlay" />
    <div class="modal__widget">
      <h2 v-if="title" class="modal__title">
        {{ title }}
        <button class="fr button--icon button--text" :title="$t('js.generic.close')" @click="cancel"><icon name="x-bold" /></button>
      </h2>
      <div ref="modalContent" class="modal__content">
        <slot @cancel="cancel" @validate="validate" />
      </div>
      <div v-if="hasFooter" class="modal__footer">
        <button v-if="cancellable" role="button" class="" @click="cancel">{{ $t('generic.cancel') }}</button>
        <button v-if="validatable" role="button" class="" @click="validate">{{ $t('generic.ok') }}</button>
      </div>
    </div>
  </div>
</template>
<script>

import Icon from './Icon'
export default {
  name: 'Modal',
  components: { Icon },
  props: {
    cancellable: { required: false, type: Boolean, default: false },
    validatable: { required: false, type: Boolean, default: true },
    hasFooter: { required: false, type: Boolean, default: true },
    title: { required: true, type: String, default: null },
  },
  methods: {
    cancel () {
      this.$emit('cancel')
    },
    validate () {
      this.$emit('validate')
    },
  },
}
</script>
