- version ||= nil
- title ||= nil

%section.changelog-entry{ class: version ? 'changelog-entry--release' : '' }
  %h2
    = date
    = version ? " - #{version}" : ''
    = title ? " - #{title}" : ''
  = yield
