- @no_rails_layout = true

#app
-# FIXME: find a better way to pass configuration values.

- mime_types = Rails.configuration.garden_party.activities[:allowed_pictures_mime_types].join(', ')
:javascript
  const ACTIVITIES_ALLOWED_MIME_TYPES = '#{mime_types}'

= javascript_pack_tag 'vue-garden'
