- @page_title = 'Journal de changements'

.page--static
  %section
    %p Tous les points abordés ici sont actifs sur cette instance.

  = render 'changelog_entry', date: '07/06/2021', version: '0.3.0', title: 'Cartes publiques' do
    %ul
      %li
        Possibilité de partager publiquement une carte et son contenu

  = render 'changelog_entry', date: '20/05/2021', version: '0.2.0', title: "Mise à l'échelle" do
    %ul
      %li
        Possibilité de définir une échelle sur les nouvelles cartes basées sur
        des images
      %li
        Possibilité de changer l'échelle d'une carte existante basée sur une
        image
      %li
        Possibilité de faire tourner des parcelles (hors éléments seuls)
      %li
        Possibilité de déplacer des parcelles (hors éléments seuls)
      %li
        Thème sombre basé sur les préférences du navigateur (pas de possibilité
        de changer depuis l'interface)
      %li
        Affichage des longueurs et aires lors de la création de parcelles et
        dessins
      %li
        Affichage des longueurs et aires sur les parcelles et dessins
      %li
        Changement de la manière de modifier les parcelles (bye bye, menu
        "Editer")

  = render 'changelog_entry', date: '18/05/2021', version: '0.1.1', title: 'Corrections' do
    %ul
      %li
        Correction de la visibilité de la première ressource dans le sélecteur
        de la carte.
      %li
        Correction du formulaire de ressources: le champ "noms communs" est
        maintenant présent, et le champs "mangeable" est maintenant autorisé.

  = render 'changelog_entry', date: '09/04/2021', version: '0.1.0', title: 'Gestion des calques' do
    %ul
      %li
        Ajout de la possibilité de réordonner les calques.

  = render 'changelog_entry', date: '06/04/2021', version: '0.0.19', title: 'Améliorations bis' do
    %ul
      %li
        Possibilité de créer des activités personalisées sur les éléments implantés
        Add support for custom activities: when displaying available actions on
        an element, it is now possible to enter your own actions.
      %li
        Ajout d'une liste de couleurs pré-selectionnées pour les chemins
      %li
        Les chemins peuvent maintenant avoir des types de lignes différents. Une
        liste est proposée sur le formulaire.

  = render 'changelog_entry', date: '30/03/2021', version: '0.0.18', title: 'Améliorations' do
    %p
      Cette version est principalement une reprise du code de l'application, sans
      trop d'impact sur son usage, mis à part :
    %ul
      %li
        Les tableaux ont une meilleure accessibilité
      %li
        Le fond des parcelles se met maintenant à jour lors de l'ajout/suppression
        de leurs éléments
      %li
        Les dates peuvent être entrées manuellement dans le sélecteur de dates :
        un click sur la date dans le sélecteur en affichera les contrôles. C'est
        donc plus facile d'entrer des dates loin dans le passé/futur.

  = render 'changelog_entry', date: '19/03/2021', version: '0.0.17', title: 'Calques' do
    %ul
      %li
        Le système de calques a été revu : désormais, ils sont propres à un jardin.
        Les élements et dessins doivent maintenant être placés sur un calque lors
        de leur création (et peuvent être changés après).
      %li
        Les ressources communautaires ne sont plus liées aux calques.

  = render 'changelog_entry', date: '09/03/2021', version: '0.0.16', title: 'Dessins' do
    %ul
      %li
        Il est maintenant possible de dessiner des formes sur la carte pour délimiter
        des zones, des chemins, ...
      %li
        L'interface de gestion de jardin est maintenant plus compacte et lisible.

  = render 'changelog_entry', date: '11/02/2021', version: '0.0.15', title: 'Images!' do
    %ul
      %li
        Il est maintenant possible d'attacher des photos aux actions réalisées.
        Aux administrateurs : vous aurez besoin de <code>libvibs-dev</code>.
      %li
        Ajout d'un guide de migration pour les utilisateurs

  = render 'changelog_entry', date: '01/02/2021', version: '0.0.14', title: 'Module de liens' do
    %ul
      %li
        Création du module de "liens" pour partager des URLs avec la communauté.
        Les liens doivent être approuvés par un administrateur avant d'être publiés.
        There is no API endpoint for links.
      %li Le menu d'administration est plus lisible.

  = render 'changelog_entry', date: '15/01/2021', title: 'Outil d\'analyse de sol' do
    %ul
      %li
        Création d'un
        = link_to 'outil', tools_soil_analysis_path
        permettant d'aider à connaître la composition de son sol.

  = render 'changelog_entry', date: '03/01/2021', version: '0.0.13', title: 'Contenu communautaire' do
    %ul
      %li
        Les membres peuvent maintenant créer des genres et des ressources, qui seront
        disponibles pour la communauté.
      %li
        Les membres peuvent maintenant modifier les genres et les ressources existantes.
      %li
        Quand on accède à l'application, la dernière carte utilisée est chargée
        automatiquement.
      %li
        Dans la librairie, les variantes d'une resource sont affichées.

  = render 'changelog_entry', date: '03/01/2021' do
    %ul
      %li
        Amélioration des traductions françaises
        (merci à <a href="https://gitlab.com/eliovir" rel="noopener noreferrer">eliovir</a>)

  = render 'changelog_entry', date: '17/12/2020' do
    %ul
      %li
        Amélioration du retours visuel lors de la validation d'un formulaire
      %li
        Amélioration du style des blocs d'alerte
      %li
        Les instances sont maitenant configurables avec un fichier YAML.

  = render 'changelog_entry', date: '15/12/2020', title: 'Documentation' do
    %ul
      %li
        Ajout de liens vers la documentation utilisateur
      %li
        Amélioration du sélecteur de dates pour les actions

  = render 'changelog_entry', date: '09/12/2020', title: 'Corrections' do
    %ul
      %li
        Une erreur empêchait la création d'actions dans le futur et a été corrigée.

  = render 'changelog_entry', date: '07/12/2020', version: '0.0.12', title: 'Planification' do
    %ul
      %li
        Des changements apportés aux éléments permettent maintenant de planifier
        à l'avance la date à laquelle ils seront retirés des parcelles.
      %li
        Des changements ont été apportés sur l'inventaire pour le rendre plus
        lisible.

  = render 'changelog_entry', date: '06/12/2020', title: 'Maintenance' do
    %ul
      %li
        Les actions sont maintenant <em>polymorphiques</em>. L'attribut <code>
        element_id</code> a été remplacé par <code>subject_id</code> et <code>
        subject_type</code>.
      %li
        Écriture des premiers tests Cucumber
        Write Cucumber tests for the "Inventory" view.

  = render 'changelog_entry', date: '05/12/2020', title: 'Maintenance' do
    %ul
      %li
        La table "crops" a été renommée en "elements".

  = render 'changelog_entry', date: '04/12/2020', title: 'Tâches' do
    %ul
      %li
        Création d'une page de tâches, listant toutes les actions en attente
        jour par jour.

  = render 'changelog_entry', date: '03/12/2020', version: '0.0.11', title: 'Planification' do
    %ul
      %li
        Création du système de planification d'actions : une action sur une culture
        peut maintenant être définie dans le futur, et être validée une fois faite.
        Pratique pour planifier ses tailles d'une année à l'autre !

  = render 'changelog_entry', date: '01/12/2020', title: 'Recherche' do
    %ul
      %li
        Création d'un champ de recherche pour trouver des ressources plus facilement.
      %li
        Correction de la selection de sous-resources.
      %li
        Création de la zone d'administration pour les interactions entre ressources.

  = render 'changelog_entry', date: '29/11/2020', version: '0.0.10', title: 'Enlèvement de ressources' do
    %ul
      %li
        Il est possible d'enlever une ressource d'une parcelle. La ressource sera
        marquée comme "enlevée" et n'apparaîtra plus sur la carte.
        L'élément sera tout de même visible dans l'inventaire, afin de pouvoir le
        consulter.
      %li
        Il est maintenant possible de supprimer ses propres cartes.
      %li
        Une confirmation est maintenant demandée lors de la suppression d'éléments.
      %li
        Quelques améliorations de l'interface, correction d'affichage pour Chrome.
      %li
        Lors de la création/suppression/mise à jour d'éléments, un retours est
        maintenant fait à l'utilisateur
      %li
        Les erreurs de formulaire sont maintenant affichées.

  = render 'changelog_entry', date: '28/11/2020', version: '0.0.9', title: 'Actions' do
    %ul
      %li
        Il est possible de déterminer quand une ressource
        a été ou sera placée dans le monde réel.
      %li
        Création d'un système d'actions simples: il est maintenant possible d'effectuer
        des actions sur les cultures (plantes placées dans une parcelle) et d'y associer
        une note.
      %li
        Un tableau récapitulatif des actions menées sur chaque culture est disponible.

  = render 'changelog_entry', date: '26/11/2020', version: '0.0.8', title: 'Authentification' do
    %ul
      %li
        Mise en place de l'authentification des utilisateurs.
      %li
        Les cartes appartiennent maintenant à quelqu'un !
      %li
        Mise en place du système d'autorisations : un utilisateur ne peut
        modifier que ses cartes.

  = render 'changelog_entry', date: '19/11/2020', version: '0.0.7', title: 'Administration' do
    %ul
      %li
        Création de la partie d'administration pour les niveaux, plantes, et genres.

  = render 'changelog_entry', date: '19/11/2020', version: '0.0.6', title: 'Fusion des projets' do
    %ul
      %li
        Fusion du <em>frontend</em> et du <em>backend</em> en une seule application
        Ruby On Rails.
      %li
        Amélioration des outils de développement (générateurs de code, principalement).

  = render 'changelog_entry', date: '11/11/2020', version: '0.0.5', title: 'Ressources' do
    %ul
      %li
        Les plantes sont maintenant des <em>ressources</em>. Un nom plus générique, mais qui
        permet d'intégrer le vivant (insectes, ...) dans les cartes.
      %li
        Création du concept d'interactions entre ressources.
      %li
        Création du concept de "groupe de plantes" : une plante "générique" (ex. : tomate)
        peut avoir plusieur variantes spécifiques (ex. : cœur de boeuf, tomate ananas),
        permettant de placer des éléments sans en connaitre la variété à l'avance.
      %li
        Ajout d'attributs aux ressources: Noms communs, mangeable.
      %li
        Ajout d'attributs aux genres: Règne (animal/végétal).

  = render 'changelog_entry', date: '11/11/2020', version: '0.0.4', title: 'Genre des plantes' do
    %ul
      %li
        Intégration des genres des plantes.

  = render 'changelog_entry', date: '08/11/2020', version: '0.0.3', title: 'Intégration' do
    %ul
      %li
        Le <em>backend</em> fonctionne avec le <em>frontend</em> !
      %li
        Génération automatique des marqueurs de carte pour les plantes.

  = render 'changelog_entry', date: '06/11/2020', version: '0.0.2', title: 'Documentation Swagger' do
    %ul
      %li
        Mise en place de la documentation <em>Swagger</em>, disponible sur
        <a href="/swagger.json" target="_blank">le projet</a>.
      %li
        Intégration du concept de "parcelles" : une parcelle peut contenir plusieur
        cultures

  = render 'changelog_entry', date: '05/11/2020', version: '0.0.1', title: 'Création du backend' do
    %ul
      %li Création d'une API Ruby On Rails
      %li Création du système de base : cartes, plantes, cultures, identique à la preuve de concept

  %section
    %h2 31/10/2020 - Preuve de concept

    Création d'une interface sans base de données pour tester l'idée.
