- @page_title = 'Change log'

.page--static
  %section
    %p Every notice here is applied on this instance

  = render 'changelog_entry', date: '07/06/2021', version: '0.3.0', title: 'Public maps' do
    %ul
      %li
        Ability to share a map and its content publicly

  = render 'changelog_entry', date: '20/05/2021', version: '0.2.0', title: 'Scaling' do
    %ul
      %li
        Ability to define a scale on new image-based maps
      %li
        Ability to change the scale of exising image-based maps
      %li
        Ability to rotate patches (not the standalone elements)
      %li
        Ability to move patches (not the standalone elements)
      %li
        Dark theme based on browser preferences (switch is impossible from the
        interface)
      %li
        Display lenghts and areas when creating patches and drawings
      %li
        Display lenghts and areas on created creating patches and drawings
      %li
        Change the way patches are modified (bye bye, "Edit" menu)

  = render 'changelog_entry', date: '18/05/2021', version: '0.1.1', title: 'Fixes' do
    %ul
      %li
        Fixes the first resource being hidden under the search bar on resource
        selector.
      %li
        Fixes resources form: missing "common names" field has been added;
        "edible" field is now allowed.

  = render 'changelog_entry', date: '09/04/2021', version: '0.1.0', title: 'Layers management' do
    %ul
      %li
        Add support to reorder layers

  = render 'changelog_entry', date: '06/04/2021', version: '0.0.19', title: 'Improvements bis' do
    %ul
      %li
        Add support for custom activities: when displaying available actions on
        an element, it is now possible to enter your own actions.
      %li
        Add a list of color presets for paths drawings in the form.
      %li
        Add support for dashed paths, and a list of presets available in the
        form.

  = render 'changelog_entry', date: '30/03/2021', version: '0.0.18', title: 'Improvements' do
    %p
      This release is mainly a rework of the frontend code, with nearly no
      impact on usability. Still, a few changes were made:
    %ul
      %li
        Tables have a better accessibility.
      %li
        Patches are now properly updating their backgrounds when adding/removing
        elements in them.
      %li
        Dates can be entered manually in the date picker: just click on the date
        in it to show the controls. Its easier to enter dates far in the future
        or past.

  = render 'changelog_entry', date: '19/03/2021', version: '0.0.17', title: 'Layers' do
    %ul
      %li
        The layer system has been reworked : layers are now dependent to a garden.
        The patches and drawings must now be placed on a layer to be created (and
        can be moved later).
      %li
        Community resources are no more related to layers.

  = render 'changelog_entry', date: '09/03/2021', version: '0.0.16', title: 'Drawings' do
    %ul
      %li
        It is now possible to draw shapes on the map for zones, paths, etc...
      %li
        The garden management interface is now more compact and usable.

  = render 'changelog_entry', date: '11/02/2021', version: '0.0.15', title: 'Pictures!' do
    %ul
      %li
        Added ability to attach pictures to actions. Administrators, you will need
        <code>libvibs-dev</code> for this one.
      %li
        For admins, we added a migration guide.

  = render 'changelog_entry', date: '01/02/2021', version: '0.0.14', title: 'Links!' do
    %ul
      %li
        Created the "links" module to share links with the community. Links needs
        to be approved by administrators before being publicly visible.
        There is no API endpoint for links.
      %li Made the administration menu more readable.

  = render 'changelog_entry', date: '15/01/2021', title: 'Soil analysis tool' do
    %ul
      %li
        Created a
        = link_to 'tool', tools_soil_analysis_path
        to help knowing soil composition.

  = render 'changelog_entry', date: '03/01/2021', version: '0.0.13', title: 'Community content' do
    %ul
      %li
        Members can now create genera and resources, which will be available for
        the community.
      %li
        Members can now edit existing genera and resources.
      %li
        When the app is accessed, the last used map is automatically loaded.
      %li
        In library, a resource's variants are now displayed.

  = render 'changelog_entry', date: '03/01/2021' do
    %ul
      %li
        Improved french translations
        (thanks to <a href="https://gitlab.com/eliovir" rel="noopener noreferrer">eliovir</a>)

  = render 'changelog_entry', date: '17/12/2020' do
    %ul
      %li
        Improved feedback on form submission.
      %li
        Improved visual alerts style.
      %li
        Instances are now configurable via a YAML file.

  = render 'changelog_entry', date: '15/12/2020', title: 'Documentation' do
    %ul
      %li
        Added links to user documentation
      %li
        Improved date picker for actions

  = render 'changelog_entry', date: '09/12/2020', title: 'Fixes' do
    %ul
      %li
        An error prevented to create actions in the future, and has been fixed.

  = render 'changelog_entry', date: '07/12/2020', version: '0.0.12', title: 'Planification' do
    %ul
      %li
        Changes were made to elements to allow planification for removal from
        patches.
      %li
        Changes were made to inventory to make it more readable... I guess...

  = render 'changelog_entry', date: '06/12/2020', title: 'Maintenance' do
    %ul
      %li
        Actions are now polymorphic, in preparation to crop actions. The <code>
        element_id</code> was replaced by <code>subject_id</code> and <code>
        subject_type</code>.
      %li
        Write Cucumber tests for the "Inventory" view.

  = render 'changelog_entry', date: '05/12/2020', title: 'Maintenance' do
    %ul
      %li
        Table "crops" was renamed to "elements".

  = render 'changelog_entry', date: '04/12/2020', title: 'Todo' do
    %ul
      %li
        Create a Todo page which list pending actions, day by day.

  = render 'changelog_entry', date: '03/12/2020', version: '0.0.11', title: 'Planification' do
    %ul
      %li
        Create a planning system: an action on a element can now be defined in the
        future. Don't forget to trim your trees anymore!

  = render 'changelog_entry', date: '01/12/2020', title: 'Search' do
    %ul
      %li
        Create a search field to find resources easily.
      %li
        Fix sub-resource selection
      %li
        Create a basic admin area to manage resource interaction

  = render 'changelog_entry', date: '29/11/2020', version: '0.0.10', title: 'Resource removal' do
    %ul
      %li
        It's now possible to mark a resource as "removed". It will not show up on the
        map anymore, but will still be visible in the overview, for later consultation.
      %li
        It's now possible to delete maps.
      %li
        When deleting elements, user has to confirm on a dialog.
      %li
        Some interface improvements, mainly targeting Chrome.
      %li
        When creating/updating/deleting elements, a feedback is made to the user
      %li
        Form errors are now displayed.

  = render 'changelog_entry', date: '28/11/2020', version: '0.0.9', title: 'Actions' do
    %ul
      %li
        It's not possible to tell the system when a element has been or will be placed
        in the real world.
      %li
        Add a simple actions system: we can now perform actions on elements and
        associate a note to it
      %li
        A table summarizes actions performed for every element.
      %li
        Element destruction must now be confirmed.
      %li
        Some interface improvements were done, and fixes were made specially for Chrome

  = render 'changelog_entry', date: '26/11/2020', version: '0.0.8', title: 'Authentication' do
    %ul
      %li
        Authentication setup.
      %li
        Maps now belong to someone!
      %li
        Authorizations setup: one user can only changes its maps.

  = render 'changelog_entry', date: '19/11/2020', version: '0.0.7', title: 'Administration' do
    %ul
      %li
        Creation of the administration area for levels, plants and genera.

  = render 'changelog_entry', date: '19/11/2020', version: '0.0.6', title: 'Merging projects' do
    %ul
      %li
        Merge the <em>frontend</em> project with the <em>backend</em> in one Ruby
        on Rails application.
      %li
        Development tools improvements (mainly code generators).

  = render 'changelog_entry', date: '11/11/2020', version: '0.0.5', title: 'Resources' do
    %ul
      %li
        Plants are now <em>resources</em>. A generic name which allows to integrate
        the living elements (insects, ...) in maps.
      %li
        Add concept of resource interactions.
      %li
        Add concept of "resources groups": a "generic" plant can have many variants, which
        allows to place elements without knowing the exact variety.
      %li
        Add attributes to resources: common names, edible.
      %li
        Add attributes to genera: reign (animal/plant).

  = render 'changelog_entry', date: '11/11/2020', version: '0.0.4', title: 'Genera' do
    %ul
      %li
        Add the plant genera (yup, plural of <em>genus</em>).

  = render 'changelog_entry', date: '08/11/2020', version: '0.0.3', title: 'Integration' do
    %ul
      %li
        The <em>backend</em> now works with the <em>frontend</em>!
      %li
        Automatic generation of plants map markers.

  = render 'changelog_entry', date: '06/11/2020', version: '0.0.2', title: 'Swagger documentation' do
    %ul
      %li
        Creatio, of the <em>Swagger</em>, documentation, available on
        <a href="/swagger.json" target="_blank">the project</a>.
      %li
        Add the "patch" concept: a patch can have multiple elements.

  = render 'changelog_entry', date: '05/11/2020', version: '0.0.1', title: 'Backend creation' do
    %ul
      %li Creation of a Ruby on Rails API.
      %li Creation of the base structure: maps, plants, elements, as in the proof of concept.

  = render 'changelog_entry', date: '31/10/2020', title: 'Proof of concept' do
    %ul
      %li Creation of a test interface, to check the idea (no database)
