.page--static
  %h1 Garden Party

  %section
    %p
      Garden Party est une application pour faciliter la vie des jardiniers  en herbe !

  %section
    %h2 Développement en cours
    %p.alert.alert--info
      %strong
        Garden Party est encore dans ses premiers stades de développement, ce qui veut
        dire qu'il faut s'attendre à des bugs et une interface peu ergonomique.
    %p
      Si vous souhaitez tester l'application, créez-vous un compte, et n'oubliez pas,
      %em les retours constructifs sont toujours bienvenue !
    %p
      Une documentation sur l'utilisation de l'application est disponible
      = link_to 'ici', 'https://doc.garden-party.experimentslabs.com/', rel: 'noopener noreferrer'

  %section
    %h2 Contact
    %p
      Si vous souhaitez être au courant des mises à jour ou simplement discuter des
      problèmes existants et des améliorations possibles, vous pouvez :
      %ul
        %li
          = link_to 'rejoindre la liste de discution',
                  'https://framalistes.org/sympa/subscribe/garden-party',
                  rel: 'noopener noreferrer'
          (échanges par courriel),
        %li
          = link_to 'rejoindre le salon Matrix',
                  'https://matrix.to/#/!fROsPDUgtYILajhMWg:matrix.org?via=matrix.org',
                  rel: 'noopener noreferrer'
          (chat direct),
        %li ou nous contacter directement à l'addresse suivante : "gardenparty at experimentslabs point com"

  - if @public_maps.count.positive?
    %section
      %h2 Quelques cartes publiques à consulter
      %ul
        - @public_maps.each do |map|
          %li= link_to map.name, shared_map_path(map)

  %section
    %h2 Vie privée (ébauche)

    %p
      Les informations que vous donnez sur ce serveur sont stockées dans un datacenter en France (OVH).
    %p
      En aucun cas nous ne les partagerons/revendrons avec qui que ce soit.
