<%-
  # Base template:
  # haml-rails/lib/generators/haml/scaffold/templates/new.html.haml

  # Custom vars from available generator methods/instance vars:
  # i.e.: member
  namespace_name = class_path.length > 0 ? class_path.first : nil
  # i.e.: post (without namespace)
  singular_table_name_only = file_name
  # i.e: member_post_path(@post)
  path_method_to_one = namespace.blank? ? "#{singular_table_name}_path" : "#{namespace_name}_#{singular_table_name_only}_path(#{singular_table_name_only})"
-%>
- @page_title = t('.title')

.page__actions
  = link_to t('generic.back'), <%= index_helper %>_path, role: 'button'

= render 'form', <%= singular_table_name_only %>: @<%= singular_table_name_only %>

