<template>
  <div v-if="loadError" class="form-errors">
    <h2>{{ $t('js.generic.load_error') }}</h2>
  </div>
  <div v-else-if="!mapError" class="garden">
    <garden-toolbar />
    <router-view v-if="ready" />
    <div v-else class="page">{{ $t('generic.loading') }}</div>
  </div>
  <div v-else class="page alert alert--info">{{ $t('js.layouts.garden.map_not_found') }}</div>
</template>

<script>
import GardenToolbar from './Garden/_Toolbar'

export default {
  name: 'MapLayout',
  components: { GardenToolbar },
  data () {
    return {
      ready: false,
      mapError: false,
      loadError: false,
    }
  },
  methods: {
    loadData () {
      this.ready = false
      Promise.all([
        this.$store.dispatch('resetMapData'),
        this.$store.dispatch('loadActivityNames', this.$route.params.mapId),
        this.$store.dispatch('loadElements', this.$route.params.mapId),
        this.$store.dispatch('loadLayers', this.$route.params.mapId),
        this.$store.dispatch('loadPatches', this.$route.params.mapId),
        this.$store.dispatch('loadPaths', this.$route.params.mapId),
      ])
        .then(() => {
          if (!this.$store.getters.map(parseInt(this.$route.params.mapId, 10))) {
            this.mapError = true
          } else {
            this.visibleLayers = this.$store.getters.layers.map(l => l.id)
            this.ready = true
          }
        })
        .catch(() => { this.loadError = true })
    },
  },
  created () {
    this.loadData()
  },
}
</script>
