<template>
  <nav class="main_menu">
    <div class="main_menu__links">
      <a href="/app/assets/config">{{ $t('js.layouts.garden.main_menu.home') }}</a>
      |
      <router-link :to="{name: 'maps'}">{{ $t('js.layouts.garden.main_menu.maps') }}</router-link>
      |
      <router-link :to="{name: 'genera'}">{{ $t('js.layouts.garden.main_menu.library') }}</router-link>
      <template v-if="showMapLink">
        |
        <router-link :to="{name: 'map', params: {mapId: currentMap.id}}">{{ $t('js.layouts.garden.main_menu.back_to', {name: currentMap.name}) }}</router-link>
      </template>
    </div>
    <div v-if="currentMap" class="toolbar">
      <div class="toolbar__text">{{ $t('js.layouts.garden.main_menu.current_map', { name: currentMap.name }) }}</div>
      <router-link :to="{ name: 'editMap', params: { mapId: currentMap.id }}" class="button button--icon"><icon name="pencil" /></router-link>
      <a v-if="currentMap.publiclyAvailable" :href="`/shared/maps/${currentMap.id}`" :title="$t('js.layouts.garden.main_menu.display_shared_version')" class="button button--icon"><icon name="world" /></a>
    </div>
  </nav>
</template>

<script>
import Icon from '../../../../common/Icon'
export default {
  name: 'MainMenu',
  components: { Icon },
  data () {
    return { currentMapId: null }
  },
  computed: {
    currentMap () { return this.$store.getters.map(this.currentMapId) },
    showMapLink () { return this.currentMap && !this.$route.meta.inMap },
  },
  methods: {
    setCurrentMap (id) {
      if (id) localStorage.setItem('currentMap', id)

      const savedId = id || localStorage.getItem('currentMap')

      if (!savedId) {
        this.currentMapId = null
        return
      }

      this.currentMapId = parseInt(savedId, 10)
    },
  },
  created () {
    this.setCurrentMap(this.$route.params.mapId)
  },
  watch: {
    '$route.params.mapId' (newValue) {
      this.setCurrentMap(newValue)
    },
  },
}
</script>
