.breadcrumb {
  margin: $spacer-small 0;

  span {
    padding: $spacer-tiny $spacer-small;
    background-color: var(--element-background);
    border-radius: 3px;
    color: var(--color-mute);
  }

  .active {
    background-color: var(--color-info-transparent);
    border-radius: 3px;
    color: var(--color-info);
  }
}
