section.changelog-entry {
  margin-bottom: 0;

  h2 {
    display: flex;
    align-items: center;
    margin: 0;
    gap: $spacer-default;

    &::before {
      display: inline-block;
      width: #{$spacer-default*2};
      height: #{$spacer-default*2};
      flex: none;
      background-color: var(--border-color);
      border-radius: $spacer-default;
      content: '';
    }
  }

  > ul,
  > p {
    padding: $spacer-small $spacer-default $spacer-default #{$spacer-default*2};
    border-left: 4px solid var(--border-color);
    margin: 0 0 0 calc(#{$spacer-default} - 2px);
  }

  &--release {
    h2::before {
      background-color: var(--state-ok);
    }
  }
}
