.color_picker {
  display: grid;
  align-items: center;
  grid-template-columns: 1rem auto;

  &__opacity_slider {
    height: $range-height;
    padding: 0;
    margin: 0;
    background-image: $checked-background;
    border-radius: $border-radius;
  }

  &__preset {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: $spacer-default;

    svg {
      flex: none;
    }

    div {
      flex-grow: 1;
    }
  }
}
