.dropdown {
  position: relative;

  &__trigger {
    display: flex;
    align-items: center;
    gap: $spacer-small;
    text-align: left;

    :first-child {
      flex-grow: 1;
    }

    :last-child {
      flex: none;
    }
  }

  &__content {
    position: absolute;
    z-index: 10;
    top: 0;
    display: none;
    padding: 0;
    border: 1px solid var(--border-color);
    background-color: var(--base-background);

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      padding: $spacer-tiny $spacer-small;
      margin: 0;

      &:hover {
        background-color: var(--element-background);
      }
    }
  }

  &:hover {
    .dropdown__content {
      display: block;
    }
  }

  &--block {
    .dropdown__trigger {
      width: 100%;
    }
  }
}
