.element-item-popup {
  display: grid;
  align-items: start;
  grid-column-gap: $spacer-small;
  grid-template-areas:
    "title actions"
    "content .    ";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, auto);

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color-lighter);
  }

  &__title {
    padding: $spacer-small 0;
    grid-area: title;
  }

  &__buttons {
    align-content: end;
    grid-area: actions;
  }

  &__content {
    padding: $spacer-small;
    margin-right: -$spacer-small;
    margin-left: -$spacer-small;
    background-color: var(--element-title);
    grid-area: content;

    > form {
      padding: $spacer-small;
      background-color: var(--base-background);
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
}
