.icons-definition {
  display: none;
}

.icon {
  $base-height: 1em;

  height: $base-height;
  fill: currentColor;
  text-decoration: none;

  &--spin {
    animation: spin 1s infinite linear;
  }

  &--3x {
    font-size: $base-height*2;
  }

  &--10x {
    font-size: $base-height*10;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359.9deg);
  }
}
