
.image_viewer {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  align-items: center;
  padding: $spacer-default;
  background-color: rgba(0, 0, 0, 0.7);
  grid-column-gap: $spacer-default;
  grid-template-columns: 6em auto 6em;

  &__button {
    background-color: var(--element-background);
    font-size: 4em;

    svg {
      margin-bottom: -0.15em;
    }
  }

  &__close {
    position: absolute;
    z-index: 10;
    top: $spacer-default;
    right: $spacer-default;
    padding: 0;
    border: none;
    margin: 0;
    color: var(--element-background);
    cursor: pointer;
    font-size: 4em;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}
