.links-list {
  margin-top: $spacer-default;
}

.element.link {
  border: 1px solid var(--border-color);
  margin-bottom: $spacer-default;
  box-shadow: 0 0 2px -2px rgba(0, 0, 0, 0.8);

  &--pending {
    opacity: 0.8;
  }

  .element-item {
    &__title {
      display: flex;

      h3 {
        flex-grow: 1;
      }
    }

    &__actions {
      flex: none;
    }
  }
}
