.loading {
  &--block {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: $spacer-default;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
}
