.main_menu {
  display: flex;
  align-items: center;
  padding: $spacer-default;
  font-size: $font-size-default;

  &__links {
    flex-grow: 1;

    &--admin {
      flex: none;
      padding: $spacer-small;
      margin: -$spacer-default $spacer-default;
      background-color: var(--state-warning);
      border-radius: $border-radius;

      a {
        color: var(--base-background);
      }
    }
  }
}
