.page {
  padding: $spacer-default;

  &--show {
    display: grid;
    grid-column-gap: $spacer-default;
    grid-template-areas: "panel content";
    grid-template-columns: 1fr 4fr;
  }

  &--static {
    section {
      padding: 0;
      margin-bottom: $spacer-default*2;
    }

    ul {
      padding-left: $spacer-default;
      margin-top: $spacer-default;
      margin-left: $spacer-default;
    }
  }

  &__actions {
    padding: $spacer-small $spacer-default;
    background-color: var(--element-background);
    text-align: right;
  }

  &__panel {
    background-color: var(--element-background);
    grid-area: panel;
  }

  &__content {
    grid-area: content;
  }
}
