.patch_overview {
  padding: 0;
  margin-bottom: $spacer-default;
  background-color: var(--element-outline);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  &__title {
    display: flex;
    align-items: center;

    h2 {
      flex-grow: 1;
      font-size: $font-size-h2;
    }

    svg {
      margin: 0 $spacer-small;
      opacity: 0.2;
    }
  }

  &__content {
    padding: $spacer-small;
  }
}
