// Additional OL styles
.popup {
  border: 1px solid var(--border-color);
  background-color: var(--base-background);

  &::after,
  &::before {
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border: solid transparent;
    margin-top: -1px;
    content: " ";
    pointer-events: none;
  }

  &::after {
    left: 50%;
    border-width: 10px;
    border-top-color: var(--base-background);
    margin-left: -10px;
  }

  &::before {
    left: 50%;
    border-width: 11px;
    border-top-color: var(--border-color);
    margin-left: -11px;
  }

  &__closer {
    position: absolute;
    top: $spacer-tiny;
    right: $spacer-tiny;
    cursor: pointer;
    text-decoration: none;

    &::after {
      content: "✖";
    }
  }

  &__header {
    padding: $spacer-tiny #{$spacer-default*2} $spacer-tiny $spacer-small;
    background-color: var(--element-title);
    font-size: $font-size-h3;
  }

  &__actions {
    padding: $spacer-tiny $spacer-small;
    background-color: var(--element-background);
    text-align: right;
  }

  &__content {
    padding: $spacer-small;
  }

  &__wrapper {
    position: absolute;
    bottom: 75px;
    min-width: max-content;
    box-shadow: 0 15px 8px 6px rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
  }
}
