.resource-picker {
  &__search {
    padding: 0.5rem;
    border-bottom: 1px solid var(--border-color-lighter);
    background-color: var(--element-background);
  }

  &__results {
    height: 40vh;
    overflow-y: auto;
  }
}

.modal .resource-picker {
  margin: -1rem -0.5rem;
}
