.soil-analyzer {
  $clayey-color: #2a8125;
  $equilibrate-color: #ffcb0e;
  $sandy-color: #0002a6;
  $silty-color: #a60000;

  stroke-width: 0.25;

  text {
    font-weight: 400;
  }

  &__legend {
    text { font-size: 3.5px; }

    path {
      fill-opacity: 0.5;
      stroke: #2e2f30;
    }

    &--equilibrate {
      fill: $equilibrate-color;
    }

    &--clayey {
      fill: $clayey-color;
    }

    &--sandy {
      fill: $sandy-color;
    }

    &--silty {
      fill: $silty-color;
    }
  }

  &__ruler {
    opacity: 0.5;
    stroke-width: 0.5;
  }

  &__axis {
    font-size: 5px;

    &__numbers {
      font-size: 3px;
    }

    &--clay {
      .soil-analyzer__ruler {
        fill: $clayey-color;
        stroke: $clayey-color;
      }

      text {
        fill: $clayey-color;
      }
    }

    &--silt {
      .soil-analyzer__ruler {
        stroke: $silty-color;
      }

      text {
        fill: $silty-color;
      }
    }

    &--sand {
      .soil-analyzer__ruler {
        stroke: $sandy-color;
      }

      text {
        fill: $sandy-color;
      }
    }
  }

  &__zones {
    text {
      font-size: 3.5px;
    }

    path {
      fill-opacity: 0.5;
      stroke: black;
    }

    &--clay {
      /* stylelint:disable no-descending-specificity -- False positive; check if this can be disabled sometime */
      path {
        cursor: pointer;
        fill: $clayey-color;

        &:hover { fill: lighten($clayey-color, 15%); }
      }

      /* stylelint:enable no-descending-specificity */
    }

    &--sandy {
      /* stylelint-disable no-descending-specificity -- False positive; check if this can be disabled sometime */
      path {
        cursor: pointer;
        fill: $sandy-color;

        &:hover { fill: lighten($sandy-color, 20%); }
      }
      /* stylelint-enable no-descending-specificity */
    }

    &--silty {
      /* stylelint-disable no-descending-specificity -- False positive; check if this can be disabled sometime */
      path {
        cursor: pointer;
        fill: $silty-color;

        &:hover { fill: lighten($silty-color, 15%); }
      }

      /* stylelint-enable no-descending-specificity */
    }

    &--equilibrate {
      /* stylelint-disable no-descending-specificity -- False positive; check if this can be disabled sometime */
      path {
        cursor: pointer;
        fill: $equilibrate-color;

        &:hover { fill: lighten($equilibrate-color, 15%); }
      }

      /* stylelint-enable no-descending-specificity */
    }
  }
}
