.tabs {
  display: flex;
  padding: $spacer-default $spacer-default 0 $spacer-default;
  border-bottom: 1px solid var(--border-color);

  .button {
    position: relative;
    top: 1px;
    border-bottom: none;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--base-background);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:not(:last-child) {
      border-right: none;
    }

    &.router-link-exact-active {
      border-bottom: 1px solid var(--base-background);
    }

    &:not(.router-link-exact-active) {
      background-color: var(--element-background);
    }
  }
}
