.thumbnail {
  display: inline-flex;
  max-width: 150px;
  flex-direction: column;
  padding: $spacer-tiny;
  border: 1px solid var(--border-color);
  gap: $spacer-small;

  img {
    max-width: 150px;
  }
}

.thumbnails {
  display: grid;
  align-items: baseline;
  grid-column-gap: $spacer-small;
  grid-row-gap: $spacer-small;
  grid-template-columns: repeat(4, 1fr);

  &--clickable {
    .thumbnail {
      cursor: pointer;
    }
  }
}
