.todo {
  display: flex;
  gap: $spacer-small;

  &__check {
    flex: none;
    font-size: $font-size-larger;
  }

  &__content {
    flex-grow: 1;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: $spacer-small;

    &__date {
      flex: none;
      font-weight: bold;
    }

    &__action {
      display: inline-flex;
      align-items: center;
      padding: $spacer-tiny $spacer-small;
      background-color: var(--element-title);
      border-radius: $border-radius;
      gap: $spacer-small;
    }

    &__title {
      flex-grow: 1;
    }

    &__actions {
      flex: none;
    }
  }

  &__note {
    font-size: $font-size-smaller;
  }
}
