/* stylelint-disable no-descending-specificity */
// FIXME: Reorder content, stop disabling things
.toolbar {
  display: flex;
  height: 100%;
  align-items: center;

  > .button,
  > button {
    @extend .button;

    padding: $spacer-small;
    border: none;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    text-align: center;

    &:not(:last-child) {
      margin-right: 1px;
    }

    &:first-child {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &.router-link-exact-active,
    &.active {
      background-color: var(--element-title);
    }

    &.inactive {
      color: var(--color-mute);
    }

    &.button--icon {
      flex: none;
    }
  }

  &__text {
    padding: $spacer-small;
    font-size: smaller;
  }

  &--small {
    > .button,
    > button,
    > .toolbar__text {
      padding: $spacer-tiny;
      font-size: $font-size-smaller;
    }
  }

  &--right {
    justify-content: flex-end;
  }

  &--tabs {
    > .button,
    > button {
      border-radius: $border-radius $border-radius 0 0;

      &:first-child,
      &:last-child {
        border-radius: $border-radius $border-radius 0 0;
      }
    }
  }

  .separator {
    &::before {
      display: block;
      height: 60%;
      border-left: 1px solid var(--border-color-lighter);
      margin: 0.4em 0.2em;
      content: '';
    }
  }

  &__spring {
    flex-grow: 1;
  }
}
/* stylelint-enable no-descending-specificity */
