.ol-tooltip {
  position: relative;
  padding: $spacer-tiny $spacer-small;
  background: var(--color-info);
  border-radius: 3px;
  color: var(--state-suggestion-inverse);
  font-size: $font-size-small;
  white-space: nowrap;
}
