@font-face {
  font-display: block;
  font-family: "Phosphor";
  font-style: normal;
  font-weight: normal;
  src:
    asset_url("phosphor-icons/src/font/Phosphor.ttf") format("truetype"),
    asset_url("phosphor-icons/src/font/Phosphor.woff") format("woff"),
    asset_url("phosphor-icons/src/font/Phosphor.svg?nd9bac#Phosphor") format("svg");
}
