<template>
  <form action="#" @submit.prevent="save">
    <form-errors :errors="errors" model="map" />

    <div class="field">
      <label for="map_name">{{ $t('activerecord.attributes.map.name') }}</label>
      <input id="map_name"
             v-model="inputs.name"
             type="text"
             name="name"
             :placeholder="$t('js.maps.form.name_placeholder')"
             required>
    </div>

    <div class="field">
      <label for="map_publicly_available">
        <input id="map_publicly_available"
               v-model="inputs.publicly_available"
               type="checkbox"
               name="publicly_available">
        {{ $t('activerecord.attributes.map.publicly_available') }}</label>
      <div class="field__help">{{ $t('js.maps.form.publicly_available_help') }}</div>
    </div>

    <div>
      <div class="alert alert--info">{{ $t('js.maps.form.select_center_note') }}</div>
      <div class="form__actions">
        <submit-button :loading="loading" :title="$t('js.maps.form.save_this_map')" :disabled="!centerChanged" />
      </div>
    </div>

    <div id="map" class="map map_form__map mtd" />
  </form>
</template>

<script>
import FormErrors from '../../../../common/FormErrors'
import SubmitButton from '../../../../common/inputs/SubmitButton'
import MapEditionMixin from '../../mixins/MapEdition'

export default {
  name: 'NewOsmMap',
  components: { SubmitButton, FormErrors },
  mixins: [MapEditionMixin],
  data () {
    return {
      inputs: {
        name: '',
        center: null,
        publicly_available: false,
      },

      loading: false,
      errors: null,
    }
  },
  methods: {
    save () {
      const payload = { ...this.inputs }
      this.errors = null
      this.loading = true
      this.$store.dispatch('createMap', payload)
        .then((map) => {
          this.$router.push({ name: 'map', params: { mapId: map.id } })
        })
        .catch(error => { this.errors = error })
        .then(() => { this.loading = false })
    },
  },
  created () {
    this.$nextTick(() => {
      this.loadOSMMap()
      this.enterCenterSelectionMode()
    })
  },

}
</script>
