<template>
  <div>
    <div class="breadcrumb mtd">
      <span :class="{ active: isSelectingPicture }">{{ $t('js.maps.form.breadcrumbs.picture_selection') }}</span> <icon name="caret-double-right" />
      <span :class="{ active: isSettingScale }">{{ $t('js.maps.form.breadcrumbs.map_scaling') }}</span> <icon name="caret-double-right" />
      <span :class="{ active: isSettingCenter }">{{ $t('js.maps.form.breadcrumbs.center_definition') }}</span>
    </div>

    <div class="grid--1-2">
      <form action="#" @submit.prevent="save">
        <form-errors :errors="errors" model="map" />

        <div class="field">
          <label for="map_name">{{ $t('activerecord.attributes.map.name') }}</label>
          <input id="map_name"
                 v-model="inputs.name"
                 type="text"
                 name="name"
                 :placeholder="$t('js.maps.form.name_placeholder')"
                 required>
        </div>

        <div class="field">
          <label for="map_publicly_available">
            <input id="map_publicly_available"
                   v-model="inputs.publicly_available"
                   type="checkbox"
                   name="publicly_available">
            {{ $t('activerecord.attributes.map.publicly_available') }}</label>
          <div class="field__help">{{ $t('js.maps.form.publicly_available_help') }}</div>
        </div>

        <div v-show="isSelectingPicture" class="field">
          <label for="map-picture">{{ $t('js.maps.form.select_picture') }}</label>
          <input id="map-picture" type="file" :required="inputs.type === 'picture'" @change="renderMap">
        </div>

        <div v-if="isSettingScale" class="field">
          <label for="map-scale-reference">{{ $t('js.maps.form.scale_reference') }} </label>
          <input id="map-scale-reference" v-model="scaleReference" name="scale" type="number">
          <div class="field__help">{{ $t('js.maps.form.scale_reference_help') }}</div>
        </div>

        <p v-if="isSettingCenter">{{ $t('js.maps.form.select_center_note') }}</p>

        <div v-if="!isSelectingPicture" class="form__actions">
          <div v-if="isSettingScale" class="toolbar">
            <button type="button" class="button--icon" @click="reset"><icon name="caret-left" />{{ $t('js.maps.form.select_another_picture') }}</button>
            <button type="button" class="button--icon creative" @click="next">{{ $t('generic.continue') }} <icon name="caret-right" /></button>
          </div>
          <div v-if="isSettingCenter" class="toolbar">
            <button type="button" class="button--icon" @click="reset"><icon name="caret-left" />{{ $t('js.maps.form.select_another_picture') }}</button>
            <submit-button :loading="loading" :title="$t('js.maps.form.save_this_map')" :disabled="!centerChanged" />
          </div>
        </div>
      </form>
      <div id="map" class="map map_form__map mtd" />
    </div>
  </div>
</template>

<script>
import SubmitButton from '../../../../common/inputs/SubmitButton'
import FormErrors from '../../../../common/FormErrors'

import MapEditionMixin from '../../mixins/MapEdition'
import Icon from '../../../../common/Icon'

export default {
  name: 'NewPictureMap',
  components: { Icon, FormErrors, SubmitButton },
  mixins: [MapEditionMixin],
  data () {
    return {
      inputs: {
        name: '',
        ...this.defaultInputs(),
      },
      doneScaling: false,

      // Form
      loading: false,
      errors: null,
    }
  },
  computed: {
    isSelectingPicture () { return !this.filePreview },
    isSettingScale () { return this.filePreview && !this.doneScaling },
    isSettingCenter () { return this.doneScaling },
  },
  methods: {
    defaultInputs () {
      return {
        picture: null,
        center: null,
        extent_width: null,
        extent_height: null,
        publicly_available: false,
      }
    },
    reset () {
      this.resetMap()
      this.resetState()
      const inputs = this.defaultInputs()
      this.doneScaling = false
      Object.keys(inputs).forEach(k => { this.inputs[k] = inputs[k] })
    },
    next () {
      if (this.isSettingScale) {
        this.inputs.extent_width = this.pictureSize[0] * this.previousScale
        this.inputs.extent_height = this.pictureSize[1] * this.previousScale
        this.olMap.removeInteraction(this.interaction)
        this.interaction = null
        this.doneScaling = true
        this.enterCenterSelectionMode()
      }
    },
    save () {
      const payload = { ...this.inputs }
      this.errors = null
      this.loading = true
      this.$store.dispatch('createMap', payload)
        .then((map) => {
          this.$router.push({ name: 'map', params: { mapId: map.id } })
        })
        .catch(error => { this.errors = error })
        .then(() => { this.loading = false })
    },
    renderMap (event) {
      const files = event.target.files || event.dataTransfer.files
      const file = files[0]
      const extension = file.name.split('.').pop().toLowerCase()

      // FIXME: This should use the list defined in instance configuration
      if (!['png', 'jpg', 'jpeg', 'svg'].includes(extension)) {
        throw new Error(`${extension} is not a supported file format`)
      }

      this.reset()
      this.inputs.picture = file

      const reader = new FileReader()
      this.loadAndRenderMap(reader, () => { this.enterMeasureMode() })
      reader.readAsDataURL(file)
    },
  },
  filters: {
    readableLength (length) {
      let output
      if (length > 100) {
        output = Math.round((length / 1000) * 100) / 100 + ' ' + 'km'
      } else {
        output = Math.round(length * 100) / 100 + ' ' + 'm'
      }
      return output
    },
  },
}
</script>
