<template>
  <div class="page">
    <h1>{{ $t('js.maps.edit.title') }}</h1>
    <div class=" grid--1-2">
      <form action="#" @submit.prevent="save">
        <form-errors :errors="errors" model="map" />

        <div class="field">
          <label for="map_name">{{ $t('activerecord.attributes.map.name') }}</label>
          <input id="map_name" v-model="inputs.name" type="text" required>
        </div>

        <div class="field">
          <label for="map_publicly_available">
            <input id="map_publicly_available"
                   v-model="inputs.publicly_available"
                   type="checkbox"
                   name="publicly_available">
            {{ $t('activerecord.attributes.map.publicly_available') }}</label>
          <div class="field__help">{{ $t('js.maps.form.publicly_available_help') }}</div>
        </div>

        <div class="tabs">
          <button type="button"
                  class="button"
                  :class="{active: isSettingScale}"
                  :disabled="map.isOSM()"
                  @click="setScale">
            {{ $t('js.maps.form.scale_map') }}
          </button>
          <button type="button" class="button" :class="{active: isSettingCenter}" @click="setCenter">{{ $t('js.maps.form.select_center') }}</button>
        </div>

        <div v-if="isSettingScale" class="field">
          <label for="map-scale-reference">{{ $t('js.maps.form.scale_reference') }}</label>
          <input id="map-scale-reference" v-model="scaleReference" name="scale" type="number">
          <div class="alert alert--info">{{ $t('js.maps.form.extent_change_warning') }}</div>
        </div>

        <div v-if="isSettingCenter" class="alert alert--info">{{ $t('js.maps.form.select_center_note') }}</div>

        <div class="form__actions">
          <submit-button :loading="loading" :disabled="extentChanged && !centerChanged" />
        </div>
      </form>
      <div id="map" class="map map_form__map" />
    </div>
  </div>
</template>

<script>
import FormErrors from '../../../../common/FormErrors'
import SubmitButton from '../../../../common/inputs/SubmitButton'
import MapEditionMixin from '../../mixins/MapEdition'

export default {
  name: 'MapEditionForm',
  components: { SubmitButton, FormErrors },
  mixins: [MapEditionMixin],
  data () {
    return {
      inputs: {
        name: null,
        publicly_available: false,
        center: [],
      },
      loading: false,
      errors: null,

      isSettingScale: false,
      isSettingCenter: false,
    }
  },
  computed: {
    map () { return this.$store.getters.map(parseInt(this.$route.params.mapId, 10)) },
  },
  methods: {
    setScale () {
      this.isSettingCenter = false
      this.isSettingScale = true
      this.enterMeasureMode()
    },
    setCenter () {
      this.isSettingCenter = true
      this.isSettingScale = false
      this.enterCenterSelectionMode()
    },
    save () {
      const payload = {
        id: this.map.id,
        name: this.inputs.name,
        publicly_available: this.inputs.publicly_available,
      }
      if (this.extentChanged) {
        payload.extent_width = this.map.picture.size[0] * this.previousScale
        payload.extent_height = this.map.picture.size[1] * this.previousScale
      }
      if (this.centerChanged) {
        payload.center = this.inputs.center
      }
      this.loading = true
      this.errors = null

      this.$store.dispatch('updateMap', payload)
        .then(() => {
          this.$emit('saved')
          this.$router.push({ name: 'map', params: { mapId: this.map.id } })
        })
        .catch((errors) => { this.errors = errors })
        .then(() => { this.loading = false })
    },
  },
  created () {
    this.$nextTick(() => {
      this.inputs.name = this.map.name
      this.inputs.center = this.map.center
      this.inputs.publicly_available = this.map.publiclyAvailable
      const that = this
      if (this.map.isOSM()) {
        this.loadOSMMap()
      } else {
        this.previousScale = this.map.extentWidth / this.map.picture.size[0]
        fetch(this.map.picture.url).then((response) => {
          const reader = new FileReader()
          response.blob().then((blob) => {
            that.loadAndRenderMap(reader)
            reader.readAsDataURL(blob)
          })
        })
      }
    })
  },
}
</script>
