<template>
  <div class="map_selector">
    <h1 class="mvl">{{ $t('js.maps.index.title') }}</h1>
    <div v-if="maps.length === 0" class="empty">
      <icon name="asterisk" size="10" />
      <small>{{ $t('js.map.index.no_map_available') }}</small>
    </div>
    <div v-for="map in maps" :key="map.id" class="item item--has-actions">
      <router-link :to="{name: 'map', params: { mapId: map.id }}" class="button button--text item__content">{{ map.name }}</router-link>
      <div class="toolbar item__actions">
        <router-link :to="{name: 'editMap', params: {mapId: map.id} }" class="button button--icon" :title="$t('generic.edit')"><icon name="pencil" /></router-link>
        <button type="button" class="button--icon text--destructive" :title="$t('generic.destroy')" @click="trashMap(map.id)"><icon name="trash" /></button>
      </div>
    </div>
    <router-link :to="{name: 'newPictureMap'}" class="button block creative mtd">{{ $t('js.maps.index.new_map') }}</router-link>

    <modal v-if="editingMap" :title="$t('js.maps.edit.title')" :has-footer="false" @cancel="editingMap = null">
      <map-edition-form :map="editingMap" @saved="editingMap = null" />
    </modal>
  </div>
</template>

<script>
import EventBus from '../../../../tools/event-bus'
import Toaster from '../../../../helpers/toaster'
import Modal from '../../../../common/Modal'
import MapEditionForm from './EditForm'
import Icon from '../../../../common/Icon'

export default {
  name: 'MapSelector',
  components: { Icon, MapEditionForm, Modal },
  data () {
    return {
      editingMap: null,
    }
  },
  computed: {
    maps () { return this.$store.getters.maps },
  },
  methods: {
    editMap (map) {
      this.editingMap = map
    },
    trashMap (mapId) {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('js.map.destroy_confirm'),
        callback: () => {
          this.$store.dispatch('destroyMap', mapId)
            .then(() => { Toaster.success(this.$t('js.map.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.map.failed_to_destroy')) })
        },
      })
    },
  },
}
</script>
