<template>
  <div>
    <h1 class="container mtd">{{ $t('js.maps.new.title') }}</h1>
    <div class="tabs">
      <router-link class="button" :to="{ name: 'newPictureMap' }">{{ $t('js.maps.form.picture_map') }}</router-link>
      <router-link class="button" :to="{ name: 'newOSMMap' }">{{ $t('js.maps.form.osm_map') }}</router-link>
    </div>
    <router-view class="container mtd" />
  </div>
</template>

<script>
export default {
  name: 'NewMapForm',
}
</script>
