<template>
  <aside class="side_panel">
    <div class="toolbar">
      <button class="block" @click="editLayer()"><icon name="plus" /> {{ $t('js.garden.layers.new_layer') }}</button>
    </div>
    <div v-bar class="scroll_area">
      <!-- v-bar wrapper -->
      <div>
        <div v-if="layers.length === 0" class="text--info">{{ $t('js.garden.layers.no_layers') }}</div>
        <div v-if="loading" class="loading loading--block">{{ $t('generic.loading') }}</div>
        <draggable handle=".drag-icon" :disabled="loading" @end="updatePosition">
          <div v-for="layer in layers"
               :key="layer.id"
               :data-layer-id="layer.id"
               class="item item--has-actions"
               :class="activeLayer && activeLayer.id === layer.id ? 'item--active' : ''">
            <div class="item__actions toolbar toolbar--small">
              <button class="drag-icon"><icon name="arrows-down-up" /></button>
              <button v-if="visibleLayers && visibleLayers.indexOf(layer.id) === -1" @click="notifyVisibilityChange(layer.id)"><icon name="eye-slash" /></button>
              <button v-else @click="notifyVisibilityChange(layer.id)"><icon name="eye" /></button>
              <button @click="editLayer(layer)"><icon name="pencil" /></button>
            </div>
            <button class="button--text clickable item__content" @click="notifyActiveLayer(layer)">{{ layer.name }}</button>
            <div class="item__actions toolbar toolbar--small mrd">
              <button class="text--destructive" @click="destroyLayer(layer)"><icon name="trash" /></button>
            </div>
          </div>
        </draggable>
      </div>
    </div>
  </aside>
</template>

<script>
import EventBus from '../../../../../tools/event-bus'
import Draggable from 'vuedraggable'
import Layer from '../../../../../classes/models/Layer'
import Icon from '../../../../../common/Icon'

export default {
  name: 'GardenLayers',
  components: { Icon, Draggable },
  props: {
    visibleLayers: { required: false, type: Array, default: null },
    activeLayer: { required: false, type: Layer, default: null },
  },
  data () {
    return {
      loading: false,
    }
  },
  computed: {
    layers () { return this.$store.getters.layers },
  },
  methods: {
    notifyVisibilityChange (id) { this.$emit('toggle', id) },
    notifyActiveLayer (layer) { this.$emit('activate', layer) },
    editLayer (layer) { EventBus.$emit('edit-layer', layer) },
    destroyLayer (layer) { EventBus.$emit('destroy-layer', layer) },
    updatePosition (event) {
      if (event.newIndex === event.oldIndex) return

      this.loading = true
      // List is reversed
      const position = this.layers.length - (event.newIndex)
      const payload = { id: parseInt(event.item.dataset.layerId, 10), position }
      this.$store.dispatch('updateLayer', payload)
        .then(() => this.$store.dispatch('loadLayers', this.$route.params.mapId)
          .then(() => {
            this.layers.forEach((l) => { l.mapLayer.setZIndex(l.position) })
          }))
        .then(() => { this.loading = false })
    },
  },
  created () {
    this.notifyActiveLayer(this.layers[0])
    // Deactivate layers when specified
    this.$nextTick(() => {
      this.layers.forEach((l) => { if (!l.visibleByDefault) this.notifyVisibilityChange(l.id) })
    })
  },
}
</script>
