<template>
  <aside class="popup">
    <button id="popup-closer" class="popup__closer button--text" @click="$emit('close')" />
    <template v-if="patch">
      <div class="popup__content">
        <!-- Point -->
        <element-action-buttons v-if="element"
                                :element="element"
                                :destructible="false"
                                @show-activities="bubbleShowActivities" />
        <!-- Other geometries with multiple elements -->
        <div v-if="elements && elements.length === 0" class="empty">{{ $t('js.patch.no_element_in_this_patch') }}</div>
        <div v-for="theElement in elements" :key="theElement.id" class="element-item-popup">
          <div class="element-item-popup__title">
            <div>{{ theElement.getName() }}</div>
            <small v-if="theElement.implantedAt">{{ $d(theElement.implantedAt, 'date') }}</small>
          </div>
          <element-action-buttons :element="theElement"
                                  @trash-element="trashElement"
                                  @show-activities="bubbleShowActivities" />
        </div>
      </div>
      <!-- eslint-disable vue/no-v-html -->
      <h2 class="popup__header">{{ patch.getName() }} <small v-if="measure" v-html="measure" /></h2>
      <!-- eslint-enable vue/no-v-html -->
      <div class="popup__actions">
        <div class="toolbar">
          <button v-if="patch.geometryType !== 'Point'"
                  type="button"
                  class="button--icon text--creative"
                  @click="$emit('add-patch-resource', patch.id)">
            <icon name="plus-circle" />
            {{ $t('js.layouts.garden.popup.add_resource') }}
          </button>

          <div class="toolbar__spring" />
          <button type="button" class="button--icon" :title="$t('generic.edit')" @click="$emit('edit-patch', patch)">
            <icon name="pencil" />
          </button>
          <button v-if="geometryType !== 'Point'"
                  type="button"
                  class="button--icon"
                  :title="$t('js.generic.transform')"
                  @click="$emit('transform-patch', patch)">
            <icon :name="shapeIcons[geometryType].edit" />
          </button>
          <button v-if="['Polygon', 'LineString'].indexOf(geometryType) > -1"
                  type="button"
                  class="button--icon"
                  :title="$t('js.generic.rotate')"
                  :disabled="geometryType !== 'Polygon'"
                  @click="$emit('rotate-patch', patch)">
            <icon name="arrow-clockwise" />
          </button>
          <button type="button" class="button--icon" :title="$t('js.generic.move')" @click="$emit('move-patch', patch)">
            <icon name="arrows-out-cardinal" />
          </button>
          <button type="button" class="button--icon text--destructive" :title="$t('generic.destroy')" @click="$emit('trash-patch', patch.id)">
            <icon name="trash" />
          </button>
        </div>
      </div>
    </template>
  </aside>
</template>

<script>
import Patch from '../../../../../classes/models/Patch'
import ElementActionButtons from '../../Elements/_ActionButtons'
import EventBus from '../../../../../tools/event-bus'
import Toaster from '../../../../../helpers/toaster'
import { formatGeometryMeasure } from '../../../../../helpers/MeasureFormatters'
import shapeIcons from '../../../../../shapeIcons'
import Icon from '../../../../../common/Icon'

export default {
  name: 'GardenPatchPopup',
  components: { Icon, ElementActionButtons },
  props: {
    patch: { required: false, type: Patch, default: null },
  },
  data () {
    return {
      shapeIcons,
    }
  },
  computed: {
    element () {
      if (this.patch.geometryType !== 'Point') return null
      return this.$store.getters.elementsByPatchId(this.patch.id)[0]
    },
    elements () {
      if (this.patch.geometryType === 'Point') return null
      return this.$store.getters.elementsByPatchId(this.patch.id)
        .filter(c => !c.isRemoved())
    },
    measure () { return formatGeometryMeasure(this.patch) },
    geometryType () { return this.patch.geometryType },
  },
  methods: {
    // FIXME: Use Vue's injections instead?
    trashElement (elementId) {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history'),
        callback: () => {
          this.$store.dispatch('destroyElement', elementId)
            .then(() => {
              EventBus.$emit('destroyed-element', this.patch)
              Toaster.success(this.$t('js.element.successfully_destroyed'))
            })
            .catch(() => { Toaster.error(this.$t('js.element.failed_to_destroy')) })
        },
      })
    },
    // FIXME: Use Vue's injections instead?
    bubbleShowActivities (element) { this.$emit('show-activities', element) },
  },
}
</script>
