<template>
  <div class="garden__content__side_panel">
    <div v-bar class="garden__content__side_panel__scroll_area">
      <div>
        <paths-form-inputs :name="inputs.name"
                           :stroke-width="inputs.strokeWidth"
                           :stroke-color="inputs.strokeColor"
                           :background-color="inputs.backgroundColor"
                           :stroke-style-preset="inputs.strokeStylePreset"
                           @change="updateInput" />
      </div>
    </div>
  </div>
</template>

<script>
import randomString from '../../../../../../helpers/RandomString'
import PathsFormInputs from '../../Paths/_FormInputs'

export default {
  name: 'GardenPathSelectorPanel',
  components: { PathsFormInputs },
  props: {
    pathStyle: { required: true, type: Object },
    value: { required: false, type: String, default: null },
  },
  data () {
    return {
      showDescriptionOf: null,
      searchTerm: '',
      formId: randomString(),
      inputs: {
        name: '',
        strokeColor: '0,0,0,1',
        backgroundColor: '0,0,0,0.2',
        strokeWidth: 1,
        strokeStylePreset: null,
      },
    }
  },
  computed: {
    resources () { return this.$store.getters.resources },
    resourceName () {
      const resource = this.resources.find(p => p.id === this.$props.resource)
      return resource.name
    },
  },
  methods: {
    emitStyleChange () {
      this.$emit('style-change', {
        strokeColor: this.inputs.strokeColor,
        backgroundColor: this.inputs.backgroundColor,
        strokeWidth: this.inputs.strokeWidth,
        strokeStylePreset: this.inputs.strokeStylePreset,
      })
    },
    setName () {
      if (this.$props.value) this.inputs.name = this.$props.value
      else this.inputs.name = this.$t('js.layouts.garden.path_selector_panel.default_name')

      this.$emit('input', this.inputs.name)
    },
    updateInput ({ key, value }) { this.inputs[key] = value },
  },
  created () {
    this.setName()
  },
  watch: {
    'inputs.strokeColor' () { this.emitStyleChange() },
    'inputs.strokeWidth' () { this.emitStyleChange() },
    'inputs.backgroundColor' () { this.emitStyleChange() },
    'inputs.strokeStylePreset' () { this.emitStyleChange() },
    'inputs.name' () { this.$emit('input', this.inputs.name) },
    pathStyle () {
      this.inputs.strokeColor = this.pathStyle.strokeColor
      this.inputs.strokeWidth = this.pathStyle.strokeWidth
      this.inputs.backgroundColor = this.pathStyle.backgroundColor
      this.inputs.strokeStylePreset = this.pathStyle.strokeStylePreset
    },
    value (newValue, oldValue) { if (newValue !== oldValue) this.setName() },
  },
}
</script>
