<template>
  <aside class="popup">
    <button id="popup-closer" class="popup__closer button--text" @click="$emit('close')" />
    <template v-if="path">
      <!-- eslint-disable vue/no-v-html -->
      <h2 class="popup__header">{{ path.name }} <small v-if="measure" v-html="measure" /></h2>
      <!-- eslint-enable vue/no-v-html -->
      <div class="popup__actions">
        <div class="toolbar">
          <div class="toolbar__spring" />
          <button type="button" class="button--icon" :title="$t('generic.edit')" @click="$emit('edit-path', path)">
            <icon name="pencil" />
          </button>
          <button v-if="geometryType !== 'Point'"
                  type="button"
                  class="button--icon"
                  :title="$t('js.generic.transform')"
                  @click="$emit('transform-path', path)">
            <icon :name="shapeIcons[geometryType].edit" />
          </button>
          <button v-if="['Polygon', 'LineString'].indexOf(geometryType) > -1"
                  type="button"
                  class="button--icon"
                  :title="$t('js.generic.rotate')"
                  @click="$emit('rotate-path', path)">
            <icon name="arrow-clockwise" />
          </button>
          <button type="button" class="button--icon" :title="$t('js.generic.move')" @click="$emit('move-path', path)">
            <icon name="arrows-out-cardinal" />
          </button>
          <button type="button" class="button--icon text--destructive" :title="$t('generic.destroy')" @click="$emit('trash-path', path.id)">
            <icon name="trash" />
          </button>
        </div>
      </div>
    </template>
  </aside>
</template>

<script>
import Path from '../../../../../classes/models/Path'
import { formatGeometryMeasure } from '../../../../../helpers/MeasureFormatters'
import shapeIcons from '../../../../../shapeIcons'
import Icon from '../../../../../common/Icon'

export default {
  name: 'GardenPathPopup',
  components: { Icon },
  props: {
    path: { required: false, type: Path, default: null },
  },
  data () {
    return {
      shapeIcons,
    }
  },
  computed: {
    // Needed for geometry measures mixin
    measure () { return formatGeometryMeasure(this.path) },
    geometryType () { return this.path.geometryType },
  },
}
</script>
