<template>
  <div class="garden__content__side_panel">
    <form action="#" class="search-form" @submit.prevent="()=>{}">
      <div class="field">
        <label for="side-search"><icon name="magnifying-glass" /></label>
        <input id="side-search" v-model="searchTerm" type="text">
      </div>
    </form>
    <div v-bar class="garden__content__side_panel__scroll_area">
      <div>
        <div class="resources_list">
          <side-panel-parent-resource v-for="resource in resources"
                                      :key="resource.id"
                                      :resource="resource"
                                      :selected-id="selectedResourceId"
                                      @select="handleResourceSelection" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SidePanelParentResource from './ResourceSelectorPanel/_ParentResource'
import Icon from '../../../../../common/Icon'

export default {
  name: 'GardenResourceSelectorPanel',
  components: { Icon, SidePanelParentResource },
  props: {
    selectedResourceId: { required: false, type: Number, default: null },
  },
  data () {
    return {
      showDescriptionOf: null,
      searchTerm: '',
    }
  },
  computed: {
    resources () { return this.$store.getters.searchedResources(this.searchTerm).filter(r => r.parentId === null) },
    resourceName () {
      const resource = this.$store.getters.resource(this.$props.selectedResourceId)
      return resource.name
    },
  },
  methods: {
    handleResourceSelection (resourceId) { this.$emit('resource-change', resourceId) },
  },
}
</script>
