<template>
  <div class="tabs garden__tabs">
    <router-link :to="{ name: 'map', params: $route.params }" class="button button--icon">
      <icon name="leaf" /> {{ $t('js.layouts.garden.toolbar.map') }}
    </router-link>

    <router-link :to="{ name: 'patches', params: $route.params}" class="button button--icon">
      <icon name="table" /> {{ $t('js.layouts.garden.toolbar.resource_overview') }}
    </router-link>

    <router-link :to="{ name: 'todo', params: $route.params}" class="button button--icon">
      <icon name="checks" /> {{ $t('js.layouts.garden.toolbar.todo') }}
    </router-link>
  </div>
</template>

<script>

import Icon from '../../../../../common/Icon'
export default {
  name: 'GardenToolbar',
  components: { Icon },
  props: {
    tool: { required: false, type: String, default: 'resource' },
  },
}
</script>
