<template>
  <form action="#" @submit.prevent="save">
    <form-errors :errors="errors" model="layer" />

    <div class="field">
      <label for="layer_name">{{ $t('activerecord.attributes.layer.name') }}</label>
      <input id="layer_name" v-model="inputs.name" type="text" required>
    </div>

    <div class="field">
      <label for="layer_visible_by_default">
        <input id="layer_visible_by_default" v-model="inputs.visible_by_default" type="checkbox">
        {{ $t('activerecord.attributes.layer.visible_by_default') }}
      </label>
    </div>

    <div class="form__actions">
      <button type="reset" :disabled="loading" @click="$emit('cancel')">{{ $t('generic.cancel') }}</button>
      <submit-button :loading="loading" />
    </div>
  </form>
</template>

<script>
import Toaster from '../../../../helpers/toaster'
import EventBus from '../../../../tools/event-bus'
import SubmitButton from '../../../../common/inputs/SubmitButton'
import FormErrors from '../../../../common/FormErrors'

export default {
  name: 'LayerForm',
  components: { FormErrors, SubmitButton },
  props: {
    layer: { required: false, type: Object, default: null },
    newLayerMapId: { required: false, type: Number, default: null },
  },
  data () {
    return {
      inputs: this.fillInputs(),
      errors: null,
      loading: false,
    }
  },
  methods: {
    fillInputs () {
      const inputs = {}
      if (this.$props.layer) {
        inputs.id = this.$props.layer.id
        inputs.name = this.$props.layer.name
        inputs.visible_by_default = this.$props.layer.visibleByDefault
      } else {
        inputs.id = null
        inputs.name = ''
        inputs.visible_by_default = true
      }

      return inputs
    },
    save () {
      const payload = { ...this.inputs }
      payload.map_id = this.$props.newLayerMapId
      this.loading = true
      this.$store.dispatch('saveLayer', payload)
        .then((layer) => {
          EventBus.$emit(this.inputs.id ? 'layer-updated' : 'layer-created', layer)
          this.$emit('saved')
          Toaster.success(this.$t('js.layers.form.successfully_created'))
          this.fillInputs()
        })
        .catch((errors) => {
          this.errors = errors
          Toaster.error(this.$t('js.layers.form.failed_to_create'))
        })
        .then(() => { this.loading = false })
    },
  },
  watch: {
    layer () { this.inputs = this.fillInputs() },
    newLayerMapId (newValue) { this.inputs.map_id = newValue },
  },
}
</script>
