!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title #{@page_title ? "#{@page_title} - " : ''}Garden Party
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = javascript_pack_tag "locales/#{I18n.locale}"
    :javascript
      I18n.locale = '#{I18n.locale}'
  %body
    - if @no_rails_layout
      = yield
    - else
      %nav.main_menu
        .main_menu__links
          = link_to t('.home'), root_path
          - if current_user.present?
            \|
            = link_to t('.app'), app_path
          \|
          = link_to t('.tools'), tools_path
          \|
          = link_to t('.changelog'), changelog_path
          \|
          = link_to t('.links'), links_path
        - if current_user&.admin?
          .main_menu__links.main_menu__links--admin
            %strong #{t('.administration')} —
            = link_to t('.genera'), :admin_genera
            [#{link_to '+', :new_admin_genus}]
            \|
            = link_to t('.resources'), :admin_resources
            [#{link_to '+', :new_admin_resource}]
            \|
            = link_to t('.resource_interactions'), :admin_resource_interactions
            [#{link_to '+', :new_admin_resource_interaction}]
            \|
            = link_to t('.links'), :admin_links
            [#{link_to '+', :new_admin_link}]
        - if current_user.present?
          = link_to t('.account'), :edit_user_registration, class: 'button'
          = button_to t('.sign_out'), :destroy_user_session, method: 'delete'
        - else
          = link_to t('.sign_in'), :new_user_session

      .page
        %h1= @page_title

        = render 'layouts/flash_messages'
        = yield
